[2014-12-11 02:00] wilson29thid opened #1 "Member names don't support special characters"
Example: [Pvt. Rosalén](http://dev.timwis.com/personnel/app/#members/84364) shows up as "Rosal&#65533;n"

[2014-12-11 02:26] wilson29thid opened #2 "Add member counts to rosters"

[2014-12-11 02:29] wilson29thid opened #3 "Add attendance percentages for members"

[2014-12-11 02:30] wilson29thid opened #4 "Add attendance percentages for units"

[2014-12-11 02:31] wilson29thid opened #5 "Tie discharge record to assignment-ending process"
Currently ending all assignments "effectively discharges" the member, and there is a discharge button in a member's profile to do this. But it doesn't create a discharge (paperwork) record documenting the reason for discharge, etc.

[2014-12-11 02:34] wilson29thid opened #6 "Form validation on enlistment says "Experience is required""
While the error refers to the specific field, called "Experience," requiring a value, it reads as if it is required _to have experience_ to enlist. Just needs a better language.

/cc @xleveille

[2014-12-11 02:36] wilson29thid opened #7 "Create an interface for transferring"
The two-step process of adding a new assignment then ending the old assignment breaks if done out of order. Perhaps it's easier just to have an interface that accommodates transfers.

[2014-12-11 02:39] wilson29thid opened #8 "Calculate current rank"
Remove `members.rank_id` field and have it be calculated by the latest record in the `promotions` table

[2014-12-11 02:42] wilson29thid opened #9 "Remove the reserve platoon unit"
Members will simply be part of their staff units

[2014-12-11 02:54] wilson29thid opened #10 "Finish granting permissions"
## Squads
### Default access level
- Post AAR
### Leadership access level
- Edit profile
- Give qualification
- Delete qualification
## Platoons
### Default access level

The same as `Squads > Default`
### Leadership access level

The same as `Squads > Leadership`, plus
- Promote
- Delete promotion
- Give awarding
- Delete awarding
- Assign member
- Delete assignment
## Companies
### Default acces

[2014-12-11 03:05] wilson29thid opened #11 "Generate service coats for all members"
This can be scripted

[2014-12-11 03:06] wilson29thid opened #12 "Service coats should live on root domain"
Currently they're generated at `api.29th.org/coats` but they should live at `29th.org/coats` instead.

Depends on #15

[2014-12-11 03:07] wilson29thid opened #13 "Implement theme"
Find a bootstrap theme or a bootstrap theme generator and implement one

[2014-12-11 03:08] wilson29thid opened #14 "Finalize content of homepage"

[2014-12-11 03:08] wilson29thid opened #15 "Stage homepage for domain switchover"

[2014-12-11 03:11] wilson29thid opened #16 "Add recruitment stats page"
* Listed on member personnel file
* Recruitment statistics in unit stats page

[2014-12-11 03:12] wilson29thid opened #17 "Add duration of service"
This is a tough one to figure out how to do...

[2014-12-11 03:13] wilson29thid opened #18 "Add qualifications tab to Units pages"
Provide the ability to see a unit's preparedness like in the old personnel system

[2014-12-11 03:14] wilson29thid opened #19 "Add discharge stats to Units page"

[2014-12-11 03:15] wilson29thid opened #20 "Automate drill event creation"
* Nail down a way to store the repetition in the `drills` table
* Decide how far in the future automation creates events
* Create a cron job that creates events from the `drills` table

Alternatively, just figure out a way for clerks to do this in batch

[2014-12-11 03:17] wilson29thid opened #21 "Applicants should be notified when there's a reply to their enlistment"
Currently replies create a forum thread that references the enlistment, but the forum user account associated with the enlistment is not tied to the new thread in any way so they're not notified. Worried we'll lose some people here.

[2014-12-11 03:20] wilson29thid opened #22 "Create interface to manage permissions"
Something like a matrix to get a "full picture" view

[2014-12-11 03:22] wilson29thid opened #23 "Add ability to filter the roster"
- By Combat, Staff-Only, Training-Only
- By Game
- By search query

[2014-12-11 03:23] wilson29thid opened #24 "Make qualifications page easier to browse"
Either (a) filter out the badges that pertain to games that are irrelevant to that member/unit or (b) make the badges collapsible/organized well enough that it's easy to navigate.

[2014-12-11 03:25] wilson29thid opened #25 "Accommodate retired members"
Probably create another type of unit and figure out what benefits that includes.

[2014-12-11 03:26] wilson29thid opened #26 "Create interface for demerits"
A way to create demerits (which are for disciplinary reasons) as well as a location for them in the personnel file and unit stats pages.

[2014-12-11 03:27] wilson29thid opened #27 "Notify member when they have AWOLs"
Notify users when they have a lot of AWOLs and may be pending discharge

[2014-12-11 03:27] wilson29thid opened #28 "Create interface for posting Extended LOAs"
- ~~Create API methods for Extended LOAs~~
- Create an interface for Extended LOAs
- ~~Reflect extended LOAs in AWOL listings~~

[2014-12-11 03:29] wilson29thid opened #29 "Create weapons passes system"
- Create interface for creating and viewing passes
- Notify users when they receive a pass

[2014-12-11 03:30] wilson29thid opened #30 "Create finance records interface"

[2014-12-11 03:33] wilson29thid opened #31 "Document code editing and deployment processes"

[2014-12-11 03:36] wilson29thid opened #32 "Document how unit processes are done in the new system"
- ~~Promoting~~
- ~~Giving an award~~
- ~~Transferring/assigning a member~~
- ~~Processing enlistments~~
- ~~Creating a training platoon~~
- ~~Graduating a training platoon~~
- Reminding cadets about BCT
- ~~Staff assignments~~
- Reviewing inactive members for discharge
- ~~Discharging a member~~
- Detecting AWOL members
- Issuing a demerit
- Posting absence
- Taking an leave of absence
- Weapons

[2014-12-12 03:10] wilson29thid opened #33 "SL imported as Rifleman"
It appears [Sgt. Tiegert](http://personnel.29th.org/#members/4593) was imported as a Rifleman instead of a Squad Leader

[2014-12-12 03:10] #33 closed, assigned to nobody

[2014-12-14 03:20] #7 closed, assigned to wilson29thid

[2014-12-14 14:39] #6 closed, assigned to nobody

[2014-12-14 19:58] #23 closed, assigned to nobody

[2014-12-21 00:17] #11 closed, assigned to swomma

[2014-12-21 00:26] wilson29thid opened #34 "Import issue for FSgt. Cyr"
Looks like FSgt. Cyr's service record had an import issue - his assignment to Baker Co HQ as Senior NCO started 2013-03-06 but ended 2014-01-18 and I'm not sure why it ended. He says he's been in that position consecutively since March of 2013. Maybe a staff position?

I will fix this in the DB but thought you might want to look into it in case it was a bug. Feel free to close if it's not relevant

[2014-12-21 01:01] wilson29thid opened #35 "Convert Extended LOAs to LOAs / Absences Posted"
Currently there appear to be a lot of AWOLs, but many of them were on Extended LOA at the time. Perhaps our import script could post absences for each event that occurs during the Extended LOA's time period?

Otherwise, we'll have to let leaders post absences/LOAs for people.

[2014-12-21 01:28] #10 closed, assigned to xleveille

[2014-12-21 22:21] #13 closed, assigned to nobody

[2014-12-21 22:24] wilson29thid opened #36 "Improve implementation of forum theme"
You can override styles in [custom-avalon.css](https://github.com/29th/vanilla-bootstrap/blob/master/design/custom_avalon.css). [The theme site](http://avalon.redteamux.com/1.1.2b/ui-modals.html) has some sample components, which may require modifying the default master template file too.

[2014-12-21 23:24] wilson29thid opened #37 "Fix deploy script for homepage"
Currently `git pull origin master` isn't doing anything

[2014-12-21 23:25] #12 closed, assigned to wilson29thid

[2014-12-21 23:25] #15 closed, assigned to nobody

[2014-12-21 23:26] wilson29thid opened #38 "Migrate any necessary content in 29th.org subdomains"

[2014-12-24 03:36] #1 closed, assigned to swomma

[2014-12-24 18:04] wilson29thid opened #39 "Clean up admin/events fields"
Remove unnecessary fields. People will be using this.

[2014-12-24 18:08] wilson29thid opened #40 "Training event AAR form missing members"

[2014-12-24 18:15] wilson29thid opened #41 "Setting a unit inactive should end all active assignments to it"
Use case is when a training platoon graduates - what about the members who don't make the cut? They'd stay as active "Training" members.

[2014-12-24 18:21] wilson29thid opened #42 "Ensure enlistment liaisons have access to modify profile of applicants"
Just confirm. They may just have to do this _after_ processing the enlistment.

[2014-12-24 18:22] #34 closed, assigned to swomma

[2014-12-24 20:06] wilson29thid opened #43 "Set forum_id in awardings and promotions tables"
In the old database, positive integers refer to 29th.org/forums and negative integers refer to 29th.org/oldforums. Can the `forum_id` field be set to `1` for 29th.org/oldforums and `2` for 29th.org/forums? From there, we can use `3` for forums.29th.org.

Also, perhaps an enum would help here instead of the 1-3? Or a `forums` table where we can include the full URLs as fields?

[2014-12-24 21:22] wilson29thid opened #44 "Create passes interface"

[2014-12-25 02:09] #32 closed, assigned to nobody

[2014-12-25 02:14] wilson29thid opened #45 "Prepare new /enlist page on old homepage"
Assuming new homepage isn't ready by launch, modify /enlist page to work like http://new.29th.org/enlist does

[2014-12-25 02:19] #44 closed, assigned to nobody

[2014-12-25 02:33] wilson29thid opened #46 "Add required_fields to admin pages"
In `personnel-api/application/controllers/admin.php`, following [this documentation](http://www.grocerycrud.com/documentation/options_functions/required_fields)

[2014-12-25 02:35] #39 closed, assigned to wilson29thid

[2014-12-25 03:08] #46 closed, assigned to nobody

[2014-12-26 17:37] wilson29thid opened #47 "Add enlist button to forums when a member isn't in the 29th Members group"

[2014-12-26 17:51] #45 closed, assigned to nobody

[2014-12-26 17:52] wilson29thid opened #48 "Create development workflow for forums"
Including themes, plugins, locales, config file

[2014-12-26 17:53] wilson29thid opened #49 "Links in navbar should be a dropdown"
Just like in personnel

[2014-12-26 18:52] #40 closed, assigned to wilson29thid

[2014-12-26 19:11] #42 closed, assigned to wilson29thid

[2014-12-26 20:29] wilson29thid opened #50 "Event attendee import messed up?"
Why does it show `0/1` for each of these events? Where are the absences? Assuming an import issue?
http://personnel.29th.org/#units/Bn/attendance

[2014-12-26 21:21] wilson29thid opened #51 "Notify user of forum username change upon associating account"

[2014-12-27 05:33] wilson29thid opened #52 "Show alternative forms of Steam ID"
Need to show (1) Steam ID, (2) ROID/UID, (3) GUID/BattlEye

Resources:
- http://codepen.io/micovery/pen/bNbLqL
- https://gist.github.com/Fank/11127158
- http://forums.tripwireinteractive.com/showpost.php?s=d80a47c7999f642c6680f36cb58d4fb1&p=819010&postcount=2

[2014-12-27 05:43] wilson29thid opened #53 "Forum post preview doesn't allow scroll"
Problem with vanilla/bootstrap theme

[2014-12-27 23:36] #49 closed, assigned to nobody

[2014-12-27 23:37] #48 closed, assigned to nobody

[2014-12-27 23:37] wilson29thid opened #54 "Create deployment script for forums"

[2014-12-28 18:55] wilson29thid opened #55 "Forum post textarea doesn't allow resizing"
There appears to be a `style="resize: none;"` attribute on the `<textarea>` tag for some reason, preventing the ability to drag to expand the box.

[2014-12-31 01:55] #51 closed, assigned to wilson29thid

[2014-12-31 02:05] #50 closed, assigned to wilson29thid

[2014-12-31 02:22] wilson29thid opened #56 "Remove gender question from forum registration"
What a silly question to ask everyone who signs up.

[2014-12-31 02:39] wilson29thid opened #57 "Make sure assignment permissions are secure"
Make sure a staff office chief can't assign someone in their office to battalion hq, for instance

https://github.com/29th/personnel-api/blob/master/application/controllers/assignments.php#L52

[2014-12-31 14:20] swomma opened #58 "Qualifications not showing if no author_member_id is set"
@wilson29thid If `qualification` entry lacks `author_member_id` - that happens when AIT tic is taken from `29th_members` table rather then from `29th_news` table - then tic is not showing up in member qualifications tab.

[2014-12-31 20:04] #58 closed, assigned to wilson29thid

[2014-12-31 20:16] #56 closed, assigned to nobody

[2015-01-01 13:05] swomma commented on #35
@wilson29thid fixed: marked all absenses as excused for attendances between ELOAs start_date AND return_date (actual return)

[2015-01-01 13:06] #35 closed

[2015-01-01 17:20] wilson29thid opened #59 "Add 'update roles' and 'update coat' button to profiles"
Needs to submit a `POST` request to `api.29th.org/members/XXX/roles` and `XXX/coat`

[2015-01-01 17:55] wilson29thid opened #60 "Allow single-line breaks in markdown"

[2015-01-01 18:10] wilson29thid commented on #60
Nevermind - just need to type two spaces at the end of the previous line

[2015-01-01 18:10] #60 closed

[2015-01-01 18:11] wilson29thid opened #61 "Add wiki link to navbar"

[2015-01-01 18:13] wilson29thid opened #62 "Members with no country_id don't show up in roster"

[2015-01-01 18:22] #62 closed

[2015-01-01 18:39] #55 closed

[2015-01-01 18:53] #61 closed

[2015-01-01 19:51] wilson29thid opened #63 "Update EIB standards to be less game specific"
On 15 Nov 2014 our EIB standards were updated to be less game specific. This needs to be done in [admin/standards](http://api.29th.org/admin/standards) as well

Reference: http://29th.org/forums/index.php?topic=45032.30

[2015-01-01 19:52] wilson29thid opened #64 "Document forum permissions"
It's difficult to understand it having not looked at it in a few months. Can we document how those special groups work? (AP1 Squad Leaders, Squad Leadership, Staff Chiefs, etc.). Ideally this would be done in the wiki.

[2015-01-01 19:53] wilson29thid opened #65 "TMan's forum permissions issue"
http://forums.29th.org/discussion/comment/114/#Comment_114

[2015-01-01 19:53] wilson29thid opened #66 "Put clerks in platoon HQ"
They should be in their squad as Riflemen (or whatever their weapon is) and have a second assignment to their Platoon HQ as Platoon Clerk

[2015-01-01 19:59] wilson29thid opened #67 "Add class next to each assignment in personnel file header"
Perhaps using bootstrap labels

[2015-01-01 20:12] wilson29thid opened #68 "Migrate wiki"
Need to think of a new way to authenticate as well, as it's currently tied to the old forums login

[2015-01-01 20:19] wilson29thid opened #69 "Give access to the admin panel"
Some of the [new processes](http://29th.org/wiki/index.php?title=Personnel_v2) require access to the admin panel. Access can be given by creating abilities prefixed with `admin-` followed by the URL of the page (ie. `awardings`) such as `admin-awardings`

| Who | Needs to | Ability | Unit(s) | Access level |
|---|---|---|---|---|
| Platoon clerks & above | Create events | `admin-events` | All Plat

[2015-01-01 20:36] wilson29thid opened #70 "Staff training subforum of Lighthouse is missing"

[2015-01-01 20:39] wilson29thid opened #71 "Senior Enlistment Liaison should be able to assign enlistments to liaisons"
Processing an enlistment should not set the liaison automatically - the Senior EL should do that separately. Perhaps a way to filter by liaison would help too.

[2015-01-01 20:54] swomma commented on #66
Done, their squad assignment returned to correct AIT

[2015-01-01 20:54] #66 closed

[2015-01-01 21:29] #71 closed

[2015-01-01 21:38] swomma commented on #63
EIB standards' descriptions have been updated

[2015-01-01 21:38] #63 closed

[2015-01-01 21:40] wilson29thid opened #72 "Forum profile links with slashes don't work"
ex. http://forums.29th.org/profile/8/T%2F5%20Slomczynski

[2015-01-01 21:49] swomma commented on #43
@wilson29thid `forum_id` is updated and used in: `awardings`, `demerits` (though it is not really used - only 3 records have topic_id), `discharges`, `enlistments`, `finances`, `promotions`

[2015-01-01 21:58] wilson29thid commented on #72
Posted to vanilla/vanilla#2376

[2015-01-01 22:23] wilson29thid opened #73 "Add RO2 to enlistment form's Rising Storm option"
Change from `Rising Storm` to `Rising Storm/Red Orchestra 2`

[2015-01-01 22:32] #69 closed

[2015-01-01 22:41] #57 closed

[2015-01-01 22:57] #73 closed

[2015-01-01 23:18] wilson29thid commented on #43
Updated in admin panel

[2015-01-01 23:18] #43 closed

[2015-01-02 00:05] #41 closed

[2015-01-02 00:13] wilson29thid opened #74 "Calendar should reflect users timezone"

[2015-01-02 00:21] wilson29thid opened #75 "Lighthouse members should be able to see IP addresses of posters"
To catch people enlisting under different names. I can see it when I use the forum so it's probably just a forum permission setting.

[2015-01-02 02:02] wilson29thid commented on #64
From when they were setup

https://docs.google.com/spreadsheets/d/1JkT1pIk9F1K58VYBd7ktOPH33sqQRJ34DsveWtXQLwo/pubhtml?gid=0&single=true

[2015-01-02 02:12] Browning29th opened #76 "No 'New Posts' indicator"
http://s4.postimg.org/czz3syvx9/newposts.png
There is no info about which forum(s) contain new posts. This means one must either check manually or sift through the entire list of new posts.

[2015-01-02 19:57] wilson29thid commented on #76
I'm almost positive this could be done with a Vanilla plugin

[2015-01-02 20:08] wilson29thid opened #77 "Staff boards need forum roles"
After the roles are created, assign this to me and I'll add the `unit_roles` in the personnel system

[2015-01-02 20:16] wilson29thid opened #78 "Markdown editor should allow [nomarkdown] tag"

[2015-01-02 20:28] wilson29thid opened #79 "Squad Leaders should not be able to edit profiles"
Should be platoon level (including clerks) only

[2015-01-03 07:34] Browning29th commented on #66
I really don't want clerks to be able to read the 'Platoon Level Discussion' board. Too many bad experiences with leaks. Can this be avoided?

[2015-01-04 06:45] swomma commented on #72
@wilson29thid perhaps for time being we can remedy it with changing names from T/5 to T5 - it has helped in my case

[2015-01-04 18:47] wilson29thid opened #80 "Rename loa table to eloas"
We did this before the final import but must not have incorporated it into the final one. You also changed `is_available` to `availability`, not sure if you did that this time either.

http://api.29th.org/eloas

[2015-01-04 19:14] #65 closed

[2015-01-04 19:14] Browning29th commented on #36
what exactly needs doing to this?

[2015-01-04 19:29] swomma commented on #80
No, table is callled `eloa` and field is `availability` - just checked that. Have you pushed your changes in code?

[2015-01-04 20:10] wilson29thid opened #81 "Wiki requires login to old forum"
Until we migrate the wiki (#68) we need to allow at least read access to it, particularly for cadets who will never be setup in the old forum. This may mean just making it public entirely for now.

[2015-01-04 20:13] wilson29thid commented on #36
Styles of forum components can be overrided in the custom-avalon.css file, using the theme site as a guide.

[2015-01-04 20:19] wilson29thid commented on #25
Anyone have thoughts on what retired members should have that public users don't?

[2015-01-04 20:28] wilson29thid commented on #80
It should be called `eloas` (plural)

[2015-01-04 20:29] Browning29th commented on #77
Who needs what?

[2015-01-04 20:33] Browning29th commented on #70
Does lighthouse really need this? Sounds like a sub-board that would never contain more than a handful of posts.

[2015-01-04 20:36] wilson29thid commented on #77
At the most basic level, every office needs its own group with moderator privileges over its board. Some offices are invisible to general 29th members so they'd also need an office "members" group to give them view/post access. Feel free to split this out and create a new issue for each office (some of them have already posted in the bug reports thread)

[2015-01-04 20:39] swomma commented on #80
Changed name, started working

[2015-01-04 20:39] #80 closed

[2015-01-04 20:39] wilson29thid opened #82 "Development environment doesn't work on windows"

[2015-01-04 21:02] Wheatles29 commented on #25
Previously they've had access to medical corps and enlistment office.

[2015-01-04 21:22] wilson29thid commented on #25
Enlistment office? That's a public board... are you thinking of something else?

[2015-01-04 21:30] Dashwood29thID opened #83 "Cpl. Nielsen Needs Permissions for Baker Company Second Platoon"
From Cpl. Nielsen:
My self and PFC Meyberg dont have acces to Platoon HQ. So we cannot post reports.

Cpl. Nielsen
Squad Leader
BP2S1

[2015-01-04 21:33] Dashwood29thID opened #84 "PFC Meyberg Needs permission for Baker Company Second Platoon"
From PFC Meyberg:
I am in BP2S1 as an Assistant Squad Leader. How ever I'm not assigned to the BP2 Squadleaders. so I cannot access the 2nd Platoons HQ thread.

I'm also assigned to BP1 Squad leaders group in this case I shouldn't be assigned to that group.

[2015-01-04 21:45] Dashwood29thID opened #85 "T/5 Dashwood Cannot post AARs for BP2"

[2015-01-04 21:47] wilson29thid opened #86 "Online Now section has CSS alignment issues"
Also `z-index` is higher than notifications drop-down

Perhaps just replace it with names instead of icons

[2015-01-04 21:48] wilson29thid opened #87 "Add link from forum profiles to personnel files"
Real pain in the butt to navigate there otherwise

[2015-01-04 21:50] wilson29thid commented on #85
Your permissions appear to be set correctly. Does the `Post AAR` button not show up for you? Or does it not work when you try to submit?

[2015-01-04 21:50] Dashwood29thID opened #88 "T/5 Lacey Cannot post AARs for BP1"
T/5 Lacey wrote:
I cannot seem to post AAR's for Company Drills.

[2015-01-04 21:53] Dashwood29thID commented on #85
The Button does not appear for me. I can Post LOA but not AAR

[2015-01-04 22:13] Dashwood29thID opened #89 "Suggestion: Re-implement original forum Header & Add Spellchecker"
Sgt. Pinckney wrote:
I would like to see a header, that is like our old forums. I think it was very useful and helped members of the 29th dramatically. Also, spell check would be outstanding.

[2015-01-04 22:17] Dashwood29thID opened #90 "Suggestion: Increase emoticon variety"
SSgt. Lagenbrunner wrote:
If we're talking about emoticons, I want an Insanity Wolf emote

[2015-01-04 22:20] Dashwood29thID opened #91 "Suggestion: Have Coat appear as Icon adjacent to users when posting"
Pvt. Asboe wrote:
I would like the uniform of each, to show up beside the the name of who, who posted a comment

[2015-01-04 22:25] Dashwood29thID opened #92 "Suggestion: Donations Tab showing a users overall donation when posting"
T/5 Egelund wrote:
A donations tab on the personnel file like we had on the old forums, so we can see how much and when people donated.

[2015-01-04 22:27] Dashwood29thID opened #93 "Suggestion: Game specific prefixes when posting in Public Discussion"
PFC Toumainen wrote:
Similar feature to TWI forums where you can select a game specific prefix for your topic (within Public Discussion board only) would be nice. So you could select between ARMA - DH - RO2/RS

[2015-01-04 22:35] raddish29th opened #94 "Missing API Access"
I'm missing my access to API Admin which I had before.

1Lt. Browning suggested re-associating.

I get the No personnel member record with that Steam ID found.

[2015-01-04 22:35] Dashwood29thID opened #95 "Suggestion: Expandable discussion dialog text boxes"
2Lt. Turczyn wrote:
Feature Request - Major
Make discussion dialog text boxes expandable, much like the recipient entry area that is expandable when creating a PM message.
As a User I would like expandable text boxes so I can see more then eight lines of text as I type.
The previous site have vertically expandable entry boxes and Firefox (which I use) allows for resizable text entry fields (vertic

[2015-01-04 22:36] raddish29th commented on #91
If we can increase the thumbnail size to the height of a minimal post, I think the coat will show fine.

Any thoughts?

[2015-01-04 22:38] Dashwood29thID opened #96 "Suggestion: Ability to delete private messages"
Pvt. Reas wrote:
a delete button for private messages, so if you accidentally send a message to the wrong person or no longer need to you don't need to bother that person for no reason.

[2015-01-04 22:52] Dashwood29thID opened #97 "Suggestion: Ability to add custom text to ToD"
2Lt. Turczyn wrote:
Feature Request - Major
Need ability to add custom text to Tour of Duty
The old forum allowed for custom text entry into the Tour of Duty, this is very helpful for adding special notes and other documentation to awards and service record.  CP2 used it heavily for discharge notices and re-enlistments for Service calculation.

[2015-01-04 23:06] swomma commented on #85
It was about Baker Company Drill and Platoon Clerks don't have permission to post AAR for Company level events.

[2015-01-04 23:07] swomma commented on #88
It was about Baker Company Drill and Platoon Clerks don't have permission to post AAR for Company level events.

[2015-01-05 07:52] Browning29th opened #98 "Disable Profile links on AAR page"
The links on the AAR page make posting an AAR very difficult and frustrating as one mis-click in 40+ names wipes all your progress.
It also needs some style improvements so people do not appear twice and less scrolling is needed.

[2015-01-05 08:34] swomma opened #99 "Suggestion: Enhancing AARs"
**Editing AAR**
1. Remove links from units on the left side roster to prevent random click (as stated in #98)
2. In roster on the left - change display from `unit`.`name` to `unit`.`abbr` - full name is just too long for squads and causes it to overflow to next line
3. Add functionality to select / unselect all members of the drill - clicking 70 checkboxes for Company Drill is plainly pointless
4.

[2015-01-05 08:36] swomma opened #100 "Showing game / timezone on TPs"
Since we know in DB `game` and `timezone` for every unit we could show that in the roster, especially in the case of Training Platoons

[2015-01-05 09:47] swomma opened #101 "Posting AAR / Permissions"
As yesterday's Baker Company Drill showed ( #88, #85 & Sgt. Clyde for CP2 ) we have a problem with permissions to post AARs.
Current personnel system allows Platoon Clerks to post only their Platoon and theirs Platoon squads Drills AAR. As for Company Drills only Company HQ & Battalion HQ can post their AARs.

**Possible solutions:**
 * Make people Company Clerks so that they get their permissions

[2015-01-05 10:58] swomma commented on #88
Moved issue to general issue #101

[2015-01-05 10:58] #88 closed

[2015-01-05 10:58] swomma commented on #85
Moved issue to general issue #101

[2015-01-05 10:58] #85 closed

[2015-01-05 13:01] swomma commented on #98
Moved issue to general AAR issue #99

[2015-01-05 13:01] #98 closed

[2015-01-05 13:49] swomma commented on #101
Solved: All Company HQ, Platoon HQ and Squad Leadership members can now post AARs for any unit

[2015-01-05 13:49] #101 closed

[2015-01-05 14:39] Dashwood29thID opened #102 "Suggestion: Add a "Created by" tag on AAR"
The old forum kept track of who posted an AAR, it is not of vital importance, but I feel it would be handy to have.

[2015-01-05 14:57] Browning29th commented on #96
I suggest closing this. You should not be able to delete messages that are already in someone else's inbox.

[2015-01-05 14:58] Browning29th commented on #84
Fix the issue in User Roles. SL and ASL may need to re-associate their accounts.

[2015-01-05 14:58] #84 closed

[2015-01-05 14:59] Browning29th commented on #83
Fixed issue in User Roles. Cpl. N may need to reasosiate his account.

[2015-01-05 14:59] #83 closed

[2015-01-05 15:07] swomma commented on #102
Already included in #99.

[2015-01-05 15:07] #102 closed

[2015-01-05 16:24] Dashwood29thID commented on #96
T/5 Slomczynski and I have been testing this on the forum, if this is something that HQ feels we do not require. Let me know for certain, pass the issue along to T/5 Slomczynski and I will close this issue.

[2015-01-05 16:32] Dashwood29thID opened #103 "Bug Report: When previewing a post, only top is shown"
PFC Johnsen wrote:
When previewing a long post, only the top is shown.

[2015-01-05 18:28] Dashwood29thID opened #104 "Permission issue: T/5 Dashwood cannot alter ToD"
When looking at someones profile, I can see an admin tab in the top right but I cannot change/add/remove badges, medals or alter the service record in any way.

[2015-01-05 19:22] swomma commented on #104
http://29th.org/wiki/index.php?title=Personnel_v2#Giving_an_Award
From personnel site you can only add / change / end assignments.

[2015-01-05 19:22] #104 closed

[2015-01-05 22:07] Dashwood29thID opened #105 "Bug report: Inability to post LOA for Platoon drill"
Posting on behalf of PFC Kaspian:

PFC Kaspian needs to be absent this week, he has posted LOA for his drill on Tuesday, but the button to post LOA for BP2 Drill does not appear for Wednesday.

I have noticed this issue as well.

[2015-01-05 22:21] Turczyn29thID opened #106 "Feature Request: Message entire Platoon or Squad"
As a Platoon Leader I would like to message my entire Platoon without having to bookmark or type Platoon members names.
As a Squad Leader or ASL I would like to message my entire Squad without having to bookmark or type Squad members names.

![platoonmessage](https://cloud.githubusercontent.com/assets/10408741/5621019/3eeca4f6-94ff-11e4-8a9d-3f35ed616bc0.png)

[2015-01-05 22:25] Dashwood29thID opened #107 "Permission issue: T/5 Dashwood cannot post to Squad/Platoon level discussion"
I was transferring things across at the behest of 1Lt. Patterson. While doing this I was assigned to Co. Clerk and lost my permission to view Squad & Platoon level discussion under First Battalion thread.

[2015-01-05 22:26] Deakin29th opened #108 "Permission Issue: Unable to select 'Adjutant Office' as a board for new discussion"
Neither I or Pvt. Correia from my squad can post his ELOA in the 'Adjutant Office' Board. We also cannot reply to any current discussions in the same board as we are told we do not have the correct permissions.

[2015-01-05 22:27] Turczyn29thID opened #109 "Feature Request: Personnel File Notes"
As a Platoon, Squad Leader, NCO, Officer or Person with administrative duties (MPs/Clerks/etc) in the 29th having a Note section available in the members personnel file is beneficial.
Notes are used to keep track of many items in reference to individuals they are attached too.

[2015-01-05 22:34] Turczyn29thID opened #110 "Feature: Request: Service time accounts for previous discharges"
As a Platoon Leader I desire the time served for each member under my command to correctly reflect actual time in the 29th.  It must take into account discharges and re-enlistments correctly.
As an example I have a member that is listed at 5 years and 10 months, but actual time in the 29th 2 years and 1 month due to discharges and re-enlistments over that period.
![servicetime](https://cloud.githu

[2015-01-05 22:38] Turczyn29thID opened #111 "Feature Request: Direct link to my Platoon or Squad roster"
As a person in a leadership position I would like a direct link to my Platoon or Squad roster page in the header bar.
![rosterlink](https://cloud.githubusercontent.com/assets/10408741/5621237/9d1269c4-9501-11e4-80c6-0061d5b11fb9.png)

[2015-01-05 22:38] wilson29thid commented on #89
Sgt. Pinckney, can you mention specifically what about the header is of the highest priority? There were several things going on on it.

[2015-01-05 22:40] Turczyn29thID opened #112 "Feature Request: Qualification Page needs to be collapsible"
Like the personnel list the qualification page should be segmented for DH, RS, and ARMA3 with collapsible branches.
There is to much scrolling required.
Make first view collapsed.

[2015-01-05 22:41] Turczyn29thID opened #113 "Bug Report: Wasted space on Service Record"
The records list colored bars have to much wasted space.  Reduce the bar height by half.

[2015-01-05 22:42] Turczyn29thID opened #114 "Bug Report: No service length indicated"
The 29th awards AOCCs based upon service length, the forum profile provides no indication on how much time a member has been in the 29th.

[2015-01-05 22:43] Turczyn29thID opened #115 "Bug Report: Personnel roster can be reordered, drag and drop is enabled."
Click on personnel.
Click and hold Reserve Platoon header bar
Mouse pointer changes to move indicator
Drag header bar around screen and drop anywhere with in the personnel list.
It is not permanent and resets when the page is refreshed.
![rosterdrag](https://cloud.githubusercontent.com/assets/10408741/5621459/c19e5e36-9503-11e4-96bb-4a29b3aee594.png)

[2015-01-05 22:44] wilson29thid commented on #94
Will look into this later tonight. What parts of the API do you need? You should have access directly to pages per your assignment, ie admin/promotions

[2015-01-05 22:45] Tuomainen opened #116 "[Bug Report] Cadet Handbook's bad redirect"
Cadet Handbook's shortlink, http://29th.org/handbook is directing to the old forums, http://www.29th.org/forums

[2015-01-05 22:45] Turczyn29thID opened #117 "Feature Request: Need AIT progress chart"
As a Platoon Leader having an AIT progress chart is helpful with reviewing the status of the entire Platoon at a glance.
![aitprogress](https://cloud.githubusercontent.com/assets/10408741/5621344/95cfb2e2-9502-11e4-8faf-8e273387b246.png)

[2015-01-05 22:46] wilson29thid commented on #105
You can only post AARs 24 hours in advance -- wasn't it that way with the old system?

He can post an Extended LOA in the Adjutant Office, otherwise we can go back in and mark him excused if this thread remains open.

[2015-01-05 22:46] wilson29thid commented on #116
Fixed, thanks

[2015-01-05 22:46] #116 closed

[2015-01-05 22:46] Turczyn29thID opened #118 "Feature Request: Need AIT achieve alert"
As a Platoon leader it would be helpful to get an alert when the final check-mark is achieved for AITs.
Currently a review of the service record and AIT qualifications is required to find the AIT to be assigned.  It is difficult to discern which AIT to award.

[2015-01-05 22:47] Dashwood29thID opened #119 "Bug Report: TSgt. Balzer has a blank calender"
TSgt. Balzer wrote:
My Calendar shows no drills, it is a blank Calendar.  I cannot see Drills, Set Drills, Modify Drills, post AARs or post an LOA(absence).

[2015-01-05 22:51] Browning29th commented on #108
Permissions added to all 29th members.

[2015-01-05 22:51] #108 closed

[2015-01-05 22:51] Tuomainen opened #120 "Suggestion: Ability to sort enlistments in personnel files"
http://personnel.29th.org/#enlistments

It would be helpful for the liaisons to be able to sort out the enlistments based on the TP as well as assigned liaison. Default view should still remain the same, in time order.

[2015-01-05 22:53] wilson29thid commented on #94
I've associated your account for you since that's considered urgent, but I am curious why it didn't work in the first place... so far it's the first incident where it didn't work. Reply here if you still don't have admin access to direct pages.

[2015-01-05 22:53] #94 closed

[2015-01-05 22:55] Turczyn29thID opened #121 "Bug Report: No access to my unit"
No access to:
admin/awards
admin/demerits
admin/discharges
admin/promotions

I don't have a link to admin on my pages; I would think as a Platoon Leader I would have admin links.

Any attempt to click the link I am present with this:
Permission denied

No direct link to my platoon Platoon page.
As directed by Lt. Col. Wilson:
"Click on your platoon to go to its /units/ page - for now it includes a

[2015-01-05 23:06] Fritz29ID commented on #105
I too cannot post an LOA nor can some of my squad members.

[2015-01-05 23:06] Turczyn29thID opened #122 "Feature Request: TP Unit name should include game tag"
As a User I would like to see the game tag included in the TP name, such as 586th TP - RS
It is easier to view which TPs are for which game.

[2015-01-05 23:12] Turczyn29thID opened #123 "Bug Report: Calendar is blank"
Calendar shows no drills, cannot set drills, modify drills, post AARs or post an LOA(absence).

![blankcalander](https://cloud.githubusercontent.com/assets/10408741/5621720/e176b2f0-9506-11e4-9276-e6914ae02f23.png)

[2015-01-05 23:15] Turczyn29thID opened #124 "Bug Report: Extended LOAs is a dead link under Personnel drop down"
Selecting the personnel drop down and then clicking Extended LOAs causes no action.
![exloadead](https://cloud.githubusercontent.com/assets/10408741/5621707/c34df248-9506-11e4-8c97-16bfbd05bb9d.png)

[2015-01-05 23:24] johnsen29th opened #125 "ROID not transferred from enlistment to personnel profile"
When enlistments are processed the ROID field of the personnel file is blank. This is currently creating several problematic personnel files per day.

[2015-01-05 23:27] Dashwood29thID opened #126 "Permission issue: Cpl. Lushman can see things he shouldn't..."
Posting on behalf of Cpl. Lushman:
" I can see the BP1 Plt and BP1S2's sub-forums"
Cpl. Lushman is SL for BP2S3

[2015-01-05 23:31] Laggy29th commented on #123
Applies to me as well!

[2015-01-05 23:36] Tuomainen opened #127 "Permissions issue: Tuomainen (Clerk)"
As a platoon clerk of AP1, I need the following permissions which I'm lacking at the moment for platoon boards:

- Ability to make announcements
- Ability to delete, lock, move and merge threads
- Ability to post AARs for Company Drills (apparently fixed already?)
- Ability to edit my platoon members TODs; awards, transfers, promotions etc. At the moment I can see only "Modify" on top right corner

[2015-01-05 23:48] johnsen29th opened #128 "View Profile link missing from some personnel files"
Example: http://personnel.29th.org/#members/83972

PFC Baker confirms to have associated his account this year.

[2015-01-06 00:13] swomma commented on #124
It looks like you are not signed in - at least the symptoms are the same.

[2015-01-06 00:14] swomma commented on #123
Do you have in top right hand corner your rank and name or just "Sign in" ?

[2015-01-06 00:18] swomma commented on #128
Strange but it seems he must do it again - the account is not associated at the moment.
We shall observe that problem

[2015-01-06 00:26] swomma commented on #123
Actually try reassociating your accounts with forums - that should help. For some reason they are out of sync at the moment.

[2015-01-06 00:31] swomma commented on #114
This is already mentioned in #17

[2015-01-06 00:31] #114 closed

[2015-01-06 00:32] swomma commented on #122
This is already in #100. Please add comments to that issue not to duplicate topics.

[2015-01-06 00:32] #122 closed

[2015-01-06 00:40] swomma commented on #119
TSgt needs to re-associate his account with forums.

[2015-01-06 00:43] swomma commented on #110
This is already mentioned in #17.

[2015-01-06 00:47] swomma commented on #105
@wilson29thid Actually in old system there wasn't a limit of posting absense in advance - as long as the event was created. Only limit was 24 hours **after** the event.

[2015-01-06 01:10] johnsen29th opened #129 "Enlistment liaisons unable to edit titles of topics in Enlistment Office"
This is needed for when a cadet changes name. As SEL I do have access.

[2015-01-06 01:19] Dashwood29thID commented on #119
I have messaged TSgt on the new forum. He should have the instructions to resolve this issue. I will post and close when he gets back to me.

[2015-01-06 01:29] Turczyn29thID commented on #123
This fixed the issue.

[2015-01-06 01:29] #123 closed

[2015-01-06 01:30] Turczyn29thID commented on #124
Re-associated the forum account with personnel records fixed the issue.

[2015-01-06 01:30] #124 closed

[2015-01-06 01:41] Turczyn29thID opened #130 "Feature Request: Header bar should have consistent view"
When first entering the forum I am presented with this header bar view:
![entryheader](https://cloud.githubusercontent.com/assets/10408741/5623035/9b0f6136-951a-11e4-9c69-51f72a1c6196.png)
Upon clicking personnel I am presented with this header:
![secondaryheader](https://cloud.githubusercontent.com/assets/10408741/5623040/aaf9c5b4-951a-11e4-9de4-1cabb7f4a167.png)
For a consistent User experience

[2015-01-06 01:58] Turczyn29thID commented on #121
After re-associating my account I finally have an admin link/drop down present.  Unfortunately it does provide access to items as described:
admin/awards
admin/demerits
admin/discharges
admin/promotions
I only see this:
![admindropdown](https://cloud.githubusercontent.com/assets/10408741/5623222/a6f53554-951d-11e4-8fa1-71c1238e0f2d.png)

[2015-01-06 02:05] stephenkall opened #131 "Markdown issues"
Markdown syntax is not working properly.
I followed [this cheatsheet](http://assemble.io/docs/Cheatsheet-Markdown.html) trying to write horizontal lines but I couldn't manage to get the text to be parsed correctly [here](http://personnel.29th.org/#events/15168).

[2015-01-06 03:17] wilson29thid opened #132 "Write a query to list any members who haven't migrated to the new forums"
Please construct a query to check for any members with an active assignment that have `forum_member_id` set to `0` and provide it to @Wheatles29 so we can have companies get on their remaining folks.

It would be nice to have a separate list of cadets in active TPs to provide to FSgt. Cyr

Please post the query here so you and I can run it repeatedly until there are no results left.

If this were

[2015-01-06 03:20] wilson29thid commented on #129
Hm...assuming the primary place to browse enlistments is http://personnel.29th.org/#enlistments, do we even need to put their name in the forum topic title? Perhaps the "Enlistment Office" forum should be buried somewhere so you can't access it directly from the forum; rather you have to go through the enlistments page. Would that be easier?

[2015-01-06 03:24] wilson29thid commented on #125
This was intentional -- often cadets put their steam name or a link to their profile in that field instead of the actual ROID. Further, they could potentially put someone else's ROID. I thought the old process was that an ADI would update the personnel file of each cadet after BCT Day 1 and fill in their ROID? Anyone in Lighthouse has access to do that for active cadets.

[2015-01-06 03:28] raddish29th commented on #94
I have a Admin drop down now when I visit relevant members profiles.

Is that all that I need? Maybe I don't even need anything in the API?

[2015-01-06 03:29] wilson29thid commented on #121
Hi 2Lt,
* The link to awards is admin/award**ings** per the [new processes doc](http://29th.org/wiki/index.php?title=Personnel_v2#Giving_an_Award). Awards is actually the awards themselves, which only Battalion HQ should edit. Awardings is when we give a member one of those awards.
* Demerits and discharges are created by Company Leadership - both show up in service records. Ideally there will als

[2015-01-06 03:31] wilson29thid commented on #115
This is really interesting, and connected to the fact that they're not links for you. What browser are you using? This definitely isn't the case on Chrome. I'm sure it's an easy fix I'm just curious what is causing it.

[2015-01-06 03:33] johnsen29th commented on #125
The way the process works now is that the ELs check that it is indeed a ROID before accepting the enlistment. If it is incorrectly formatted, such as a steam link, profile name et cetera, the application will not be accepted until it can be obtained.

As for putting someone else's ROID, we don't screen for it directly though it would become obvious rather quickly since ELs talk to cadets on steam

[2015-01-06 03:34] wilson29thid commented on #119
Please find out if he associated since the migration announcement or if he only did it before the announcement. We know everyone had to re-do it when I made the announcement but if it somehow became "unassociated" after that that's a bigger issue

[2015-01-06 03:35] wilson29thid commented on #110
Closed as duplicate

[2015-01-06 03:35] #110 closed

[2015-01-06 03:36] wilson29thid commented on #112
Duplicate of #24

[2015-01-06 03:36] #112 closed

[2015-01-06 03:38] johnsen29th commented on #129
We do not need the enlistment forum, true, though I don't like the idea of having incorrect information stored somewhere. There have been instances of cadets wanting to change their name for privacy reasons. Though if it's not supposed to be accessed directly, perhaps the titles of the threads could be without names? Of course the best solution would be to have the name updated from the "last name

[2015-01-06 03:41] wilson29thid commented on #127
* Items 1 & 2 are forum permissions related, @Browning29th
* Item 3 should have been sorted by @swomma this morning.
* Regarding item 4, have you gone to the "admin/xxx" links in [the new processes doc](http://29th.org/wiki/index.php?title=Personnel_v2) for awards and promotions? Transfer/assign permissions were given to PL and PS - I was under the impression clerks did not do the assignments?

[2015-01-06 03:45] wilson29thid commented on #125
Hm...I feel like there's some security implication I'm forgetting about just *trusting* applicants to provide the right steam account as opposed to verifying it first. But I've asked FSgt. Cyr to weigh in here. Either way, we can figure something out but in the meantime you can just edit the profile of the cadet to add in their steam ID. Enlistment liaisons should be able to do that. Does that wor

[2015-01-06 03:47] wilson29thid commented on #129
Right ... it's technically possible to have it updated if the last name changes, and we could also train staff to do it manually, but I'm just not sure it's necessary or would add any value. Perhaps it would be better to just rename them all "Enlistment" or something and hide the forum.

[2015-01-06 09:20] Browning29th commented on #129
@wilson29thid that should be possible if it was a public sub board of a private board

[2015-01-06 09:21] Browning29th commented on #107
Re-associate your account and let me know if this issue continues.

[2015-01-06 10:33] swomma commented on #127
@Tuomainen Rifleman assignment has been fixed.
As for posting AARs all xlerks can post them for any drill

[2015-01-06 12:17] Dashwood29thID commented on #107
Re-associated and issue still persists

[2015-01-06 12:26] Turczyn29thID commented on #115
I am using Firefox.

[2015-01-06 13:10] swomma commented on #132
@wilson29thid  Something like that should do:
[code]

[2015-01-06 13:31] Turczyn29thID opened #133 "Bug Report: Double hover box popup over online profile icons"
When mousing over profile icons with those that are online a double hover box popup appears.  One is a tool-tip style and the second is transparent.
![popover](https://cloud.githubusercontent.com/assets/10408741/5629153/67a7d4cc-957e-11e4-9019-7addfe953eb5.png)

[2015-01-06 13:35] Turczyn29thID opened #134 "Bug Report: Z height of online profile picture higher than Notification and Inbox popup list"
![zheight](https://cloud.githubusercontent.com/assets/10408741/5629191/dde5a664-957e-11e4-8113-f75fa48b9f78.png)
Same issue if Inbox was selected

[2015-01-06 17:23] Turczyn29thID commented on #115
Just tried it with Chrome and the same issue occurred.
The roster has no links for me.

[2015-01-06 18:05] swomma commented on #127
@Tuomainen ToD (now called **Service Record**) is created automatically, based on member's assignments, promotions, awardings, etc.
@wilson29thid Confirmed - Assignments are for Platoon Leadership and higher.

[2015-01-06 19:06] Browning29th commented on #127
Gave the clerks more powers to delete/edit/anounce (except in charlie & public boards due to vanilla bug, will do that later). Move/merge are not current features of the forum. Open a new issue for these if you think they are important.

[2015-01-06 20:30] Lacey29th opened #135 "Permissions Issues: T/5 Lacey cannot post in the Finance Ledger"
I am the Chief of Finance, and need to post in the Finance Ledger.
![sans titre](https://cloud.githubusercontent.com/assets/10425643/5635638/2d840334-95eb-11e4-9757-5afad3782647.png)
Sorry for the bad quality/size of the photo, I don't quite know how to take a good one.

T/5 Lacey.

[2015-01-06 22:14] Wheatles29 commented on #132
List broken down and sent to HQ's and Chief of LH

[2015-01-06 22:15] swomma commented on #135
@Lacey29th http://29th.org/wiki/index.php?title=Personnel_v2#Managing_Records

[2015-01-06 22:15] #135 closed

[2015-01-06 22:20] Wheatles29 opened #136 "Need Extra MP Office Boards"
Need additional MP Office Boards with appropriate permissions.

[2015-01-07 02:17] Turczyn29thID opened #137 "Bug Report: Conversation list has extra line just for profile picture"
Each individual added to a conversation appears in the conversation list.  This list when generated displays an extra line for each individuals profile picture.  This picture should be next to their name.
![conversationlist](https://cloud.githubusercontent.com/assets/10408741/5639725/54e6a258-95e9-11e4-8203-b3243ce0f87d.png)

[2015-01-07 02:23] Turczyn29thID commented on #96
Actually there is a use case for this.  I just posted a message to my unit, but the format is wrong.  I would like to delete that posting, but I cannot.

[2015-01-07 02:26] Turczyn29thID opened #138 "Feature Request: Need preview for private messages and forum discussions"
Just like the preview tab on GitHub for the entry I am currently writing having a preview for new messages or forum discussions would be very nice.
As a User I would like to verify that the formatting of a message is correct prior to posting the message or discussion.

[2015-01-07 02:59] Wheatles29 opened #139 "Can't see Reserve Boards"
I cannot currently see the Reserve Boards.

[2015-01-07 03:06] Walker29th opened #140 "Permissions Issue: Walker - Battalion S-3"
Currently unable to post in any staff office, cannot see all boards, lack administrative level clearance, unable to do any jobs until I have permissions. Might this be remedied?

[2015-01-07 03:22] wilson29thid opened #141 "Admin timepicker doesn't allow PM times"
This means we cannot post events after noon.

Known issue with simple fix: http://www.grocerycrud.com/forums/topic/2228-datetime-picker-24-hour-time-selection/

[2015-01-07 03:35] #105 closed

[2015-01-07 03:53] wilson29thid commented on #74
It appears the forums know the user's timezone. Not sure if this is stored in the DB or done via client-side javascript.

[2015-01-07 08:22] swomma commented on #141
Fixed on production, it helped for now, need to add to Git

[2015-01-07 09:10] Tuomainen commented on #127
Oh, at least I've done assignments ever since I've been a clerk and so have many others, with approval of Plt HQ naturally; http://29th.org/forums/index.php?board=39.0
But I don't mind, it's the Plt HQ whose workload just increases here, not mine :D

@wilson29thid @swomma @Browning29th

[2015-01-07 09:21] Tuomainen opened #142 "Suggestion: Site Tabs"
Suggesting a more smoother access for the tabs which are located on top of our site. Would it be possible to allow showing the menu under each tab only by hovering a mouse over the title instead of a need for clicking it? (Forum/Personnel)

![tabs](https://cloud.githubusercontent.com/assets/10409099/5643254/c7882ab4-965e-11e4-9252-0f2a57fb57f2.jpg)

[2015-01-07 11:05] wilson29thid commented on #90
Um. Is this a real request? Here are all the emoticons http://vanillaforums.org/addon/riceballs-plugin Reopen if people are serious about wanting more.

[2015-01-07 11:05] #90 closed

[2015-01-07 11:06] wilson29thid commented on #91
Agreed. Just needs a forum plugin. Should be easy for someone to jump on this!

[2015-01-07 11:09] wilson29thid commented on #93
@Tuomainen are there any other forums where this would be helpful? There's a [vanilla plugin](http://vanillaforums.org/addon/discussionmarker-plugin) for this, but not sure you can just apply it to one forum. May be easier to just use text if we only want to keep it to one forum.

[2015-01-07 11:20] wilson29thid commented on #95
I was able to implement this with the markdown editor, but this current editor won't allow it. We'd need another editor.

[2015-01-07 11:23] #141 closed

[2015-01-07 11:30] wilson29thid commented on #96
Like you would with a post? I can't think of a forum system that would allow you to delete a PM, just like you can't delete an email. Am I misunderstanding?

[2015-01-07 11:32] wilson29thid commented on #97
Can you provide some more examples? I think ideally the system would accommodate the common needs.

[2015-01-07 11:35] wilson29thid commented on #99
Agreed on all

[2015-01-07 11:37] wilson29thid commented on #100
![roosters_for_kids_320](https://cloud.githubusercontent.com/assets/2887000/5644983/a24588e0-9637-11e4-8d2f-e26f6b9ff65b.jpg)
?

[2015-01-07 11:38] wilson29thid commented on #100
I could see adding it on the /units/ page, but I think the roster would be a bit cluttered with that

[2015-01-07 11:39] wilson29thid commented on #103
Duplicate of #53

[2015-01-07 11:39] #103 closed

[2015-01-07 11:41] wilson29thid commented on #106
I'm thinking a link in the /units/ page to PM the whole unit makes the most sense here. Putting a custom link in the header for leaders is just a bit messy (ie. what if you are a PL and want to PM one of your squads? Gotta type those one by one)

[2015-01-07 11:44] wilson29thid commented on #109
I haven't thought of a clean way to implement the permissions around notes. In the old system they were very custom and specific and hard-coded. Ideally we'd just have forum posts that reference personnel files (like we do for enlistment discussions). Any thoughts on this?

[2015-01-07 11:48] wilson29thid commented on #113
Those with shorter service records would probably disagree! :P

Actually I'd love your suggestion on how it could be improved from the components available to us with [the theme](http://avalon.redteamux.com/1.1.2b/index.html) we purchased. Any ideas beyond the height?

[2015-01-07 11:50] wilson29thid commented on #111
Hm...I could *potentially* see putting this in the username drop-down on the top-right... but even that would only show up in the personnel system not the forums (separate drop-down on the forums). What about in your browser's bookmarks bar?

[2015-01-07 12:00] wilson29thid commented on #117
Duplicate of #18

[2015-01-07 12:00] #117 closed

[2015-01-07 12:02] wilson29thid commented on #118
Hm, can't the person giving the final qualification shoot a PM over? Not sure why the current process requires the PL to "notice" - can you explain?

[2015-01-07 12:07] wilson29thid commented on #120
data tables plugin

[2015-01-07 12:07] wilson29thid commented on #121
Reopen if it's still an issue

[2015-01-07 12:07] #121 closed

[2015-01-07 12:08] #128 closed

[2015-01-07 12:10] wilson29thid commented on #130
This one probably won't be easy, but it's possible and I agree it'd be nice to have.

[2015-01-07 12:10] wilson29thid commented on #119
Reopen if this is still an issue

[2015-01-07 12:10] #119 closed

[2015-01-07 12:11] wilson29thid commented on #131
Hello, thanks for the report. We haven't implemented markdown on AARs yet. On the forums, for the time being, it uses BB code. Adding text formatting to AARs is part of #99

[2015-01-07 12:11] #131 closed

[2015-01-07 12:12] wilson29thid commented on #133
Duplicate of #86

[2015-01-07 12:12] #133 closed

[2015-01-07 12:13] wilson29thid commented on #134
Merging with #86

[2015-01-07 12:13] #134 closed

[2015-01-07 12:16] wilson29thid commented on #142
Hm, I think the reason it requires click is for mobile support, since you can't "hover" on mobile. But it probably wouldn't mess anything up to have both. [This page](http://ageekandhisblog.com/bootstrap-3-how-to-enable-hover-and-toggle-for-nav/) suggests a pretty easy fix.

[2015-01-07 12:20] #127 closed

[2015-01-07 12:22] wilson29thid commented on #129
Great, please put it under Lighthouse and then assign it to me and I'll work on the subjects.

[2015-01-07 12:44] Turczyn29thID commented on #118
I do get a PM regarding when a qualification was achieved.  I my desire is to negate the necessity to manually write down the individuals names or have multiple tabs/windows open for reference for which qualification to award.  Software should guide the user without the need to reference separate items.  In this case an AQB needs to be awarded, having a list of names of those individuals that need

[2015-01-07 12:47] Evensen commented on #96
I can think of "abuse" cases for this one, such as going back on your word or Pvts. sending naughty PMs and then deleting them to remove evidence. I suppose a "woops" wrong message like in Gmail where in a very limited time you could regret and cancel the sent message, but I for one would not like the ability to delete everything, especially when it's already been read.

If you accidentally send a

[2015-01-07 12:55] Evensen commented on #111
This is a feature I used a lot in the old forum, so I agree with 2Lt. here. Bookmark doesn't work right now, as you can only bookmark the entire opened rooster page, not just say BP2 . It's not critical of course, just saving is a few seconds every time we want to check up on the platoon and it's members.

[2015-01-07 13:11] johnsen29th opened #143 "Incorrect enlistment date"
Example: http://personnel.29th.org/#enlistments/4477

This might be because of an error in the old forums, in which case a one-time fix should suffice. The actual enlistment date is December 28, 2014.

[2015-01-07 13:20] #143 closed, assigned to Browning29th

[2015-01-07 14:07] Browning29th commented on #140
Waiting for staff offices to finalise what boards they want first, else I will need to fix this twice.

[2015-01-07 14:07] Browning29th commented on #139
Waiting for staff offices to finalise what boards they want first, else I will need to fix this twice.

[2015-01-07 14:07] Browning29th commented on #136
Staff offices have been asked what boards they want in a thread in each office.

[2015-01-07 14:08] Browning29th commented on #129
Working on this an other staff board issues currently

[2015-01-07 14:09] Browning29th commented on #115
Roster links work fine for me (Firefox).
Can you find someone else who has this isssue?

[2015-01-07 14:57] Turczyn29thID commented on #109
The first thing that comes to mind is a notes tab in the profile area:
![noteslocation](https://cloud.githubusercontent.com/assets/10408741/5647258/61a4a706-9652-11e4-8765-2d4db30005a1.png)
Next I believe your are using an SQL database so you should be able to implement some flexible database level roles for permissions similar to those used on the old forum to create access rights to viewing of n

[2015-01-07 15:02] Turczyn29thID commented on #130
I would also like to suggest to adjust the Personnel link to incorporate the drop down links in the second bar.  Clicking Personnel take the user to the roster from the first bar and then on the second the drop down appears.  This causes extra navigation when the user wants to get to their calendar or any other link buried under the second header.  Those items should be immediately accessible from

[2015-01-07 15:07] Turczyn29thID commented on #142
One thing to note is that people move their mouse around a lot and while moving having fly-outs occur can lead to an undesirable experience.  Especially when you want to click a link that is near a fly out that covers the link.  You also have to be concerned openDelay, fadeDelays, and fadeSpeeds.  If you ever use Reddit Enhancement Suite and move your mouse around Reddit all the annoying fly-out p

[2015-01-07 15:20] Turczyn29thID commented on #96
Those points are all valid and were ones I was thinking about as I wrote my response.  I think my biggest hang up stems from the inability to preview the message prior to sending.  The old forum had this and I relied upon it heavily.  The recall is a neat idea, it would require a queuing system for messages, but you are right having a delete button is not a good thing.  For me it is about getting

[2015-01-07 18:30] PFCVeld commented on #111
I have to agree with the others that this indeed a very handy feature i also use to quickly go to my squad and see all the statistics. The forums are starting to look really nicely together, but i do think we do not need to take step backs, aka as in dropping features we have on the old forum. I hope to see the new forum will be like the old forum, but with even better features added!

[2015-01-07 18:33] Tuomainen opened #144 "Feature Request: Search function"
PFC Veld has requested a search function for the forums.

[2015-01-07 18:36] PFCVeld opened #145 "Suggestion: Search bar?"
I am either overlooking this feature completely, but i cannot find a search option anywhere on the forum.

[2015-01-07 21:49] Browning29th opened #146 "Recruits recruited not displayed"
There is currently no way to see how many recruits some one had recruited and who they where.

[2015-01-07 21:57] Kouters29thID opened #147 "Bug Report: Badge does not display"
My DI Badge isn't displaying on my jacket on the forums.

[2015-01-07 23:04] SgtPinckney commented on #89
Mainly drill schedule and "Send a PM to your squad". If those two things came back I would be one very happy SL.

[2015-01-07 23:08] johnsen29th opened #148 "Steam ID field can be left blank when submitting enlistment"
If cadets try to enlist without specifying steam ID, they should be notified that it is required.

[2015-01-07 23:14] Dashwood29thID opened #149 "Permission issue/bug: Cpl. Nielsen cannot see the calender"
Posting on behalf of Cpl. Nielsen:

The Cpl. Has completed step 5 of migration and is still unable to see the calender

[2015-01-07 23:20] #100 closed

[2015-01-07 23:34] wilson29thid commented on #78
Got some great suggestions [here](http://vanillaforums.org/discussion/comment/223184)

[2015-01-07 23:37] swomma commented on #149
It really doesn't seem like he did step 5 properly

[2015-01-07 23:41] Tuomainen opened #150 "Migration Issue: Cadet Vesterhus"
Cadet Vesterhus can't complete the migration's Step 5 (associating). His old forum profile didn't have ROID set up properly but it can't be associated anymore after I fixed the old forum profile.

When he clicks associate, he gets this:

![vesterhus_screenshot](https://cloud.githubusercontent.com/assets/10409099/5655488/5bb3ebba-96d7-11e4-8412-03f0221068d7.jpg)

His new forum profile: http://forum

[2015-01-07 23:44] swomma commented on #150
That was a temporary problem with personnel site, now all is back to normal. Cadet should try step 5 again.

[2015-01-07 23:44] #150 closed

[2015-01-07 23:48] yopuii opened #151 "Missing Permissions: QM Office/Chief (Cyr)"
As title says, I'm missing permissions for the QM office.

-FSgt. Cyr

[2015-01-08 00:05] Tuomainen commented on #150
Thank you T/5! Worked perfectly.

[2015-01-08 00:46] swomma commented on #147
@Kouters29thID Refresh your personnel page, should be visible (it is for me now)

[2015-01-08 00:46] #147 closed

[2015-01-08 03:51] wilson29thid commented on #76
Done!

[2015-01-08 03:51] #76 closed

[2015-01-08 03:53] #86 closed

[2015-01-08 08:54] swomma commented on #145
Duplicate of #144.

[2015-01-08 08:54] #145 closed

[2015-01-08 08:57] Browning29th commented on #151
Please let me know what boards you would like for this office by replying to this thread.
Please limit your board requests to an absolute minimum.

Examples of good boards are:

Finance Office (Public)
    Finance HQ (Finance HQ members only)
    Donations (Finance members only)
    Projects (Finance members only)

An example of a bad set of boards are:

Finance Office
    Finance HQ
    Donations

[2015-01-08 10:46] wilson29thid commented on #144
Ah, we hid it because it was gigantic on the homepage. Just added it to the dropdown menu at the top. Thanks!

[2015-01-08 10:46] #144 closed

[2015-01-08 10:52] wilson29thid commented on #81
Just wanna leave a link to #68 in here in case we can kill two birds with one stone

[2015-01-08 12:05] wilson29thid commented on #99
Removed links from AAR roster per #98

[2015-01-08 12:52] #17 closed

[2015-01-08 13:04] Treble29 opened #152 "Can't see Drills."
Can't see drills on my calender - PFC Treble.

[2015-01-08 13:04] swomma opened #153 "Suggestion: Qualifications tab shouldn't be active by default"
Qualification tab on member's page (http://personnel.29th.org/#members/XXXXX/qualifications) should not be active for edit by default - it might couse awardin accidental tics or removing the ones already awarded (if you have privilages to change it).

**Suggestion**:
By  default page should have inactive checkboxes. Only after clicking button "Admin" -> "Edit qualifications" [future option] should

[2015-01-08 13:08] swomma opened #154 "Suggestion: Change display of assignment entry in Service Record"
As for now entry on member's Service Record (http://personnel.29th.org/#members/XXXXX/servicerecord) is hard to read with blue link to unit on cyan background

**Suggestion:**
Either to change the background to something less blue or change the color / boldness of link to unit

[2015-01-08 13:11] swomma commented on #152
Problem fixed by re-associating accounts

[2015-01-08 13:11] #152 closed

[2015-01-08 19:10] Campbell29th opened #155 "QM Boards"
QM Projects Board
QM Headquarters
Public QM Board

These 3 are needed by QM.

[2015-01-08 19:31] Turczyn29thID commented on #153
Another thought would be to activate qualification areas in stages; meaning you can not award Sharpshooter without first achieving Marksman.

[2015-01-08 21:20] MarkMinor opened #156 "Bug report: Multiple issues"
T/5 Minor

I cannot see drills on calendar.

I cannot access the Second Squad or Platoon HQ child boards.

[2015-01-08 21:37] swomma commented on #156
@MarkMinor you haven't associated your personnel and forums account. Please follow http://forums.29th.org/discussion/28/migration-instructions

[2015-01-08 21:37] #156 closed

[2015-01-08 22:21] johnsen29th opened #157 "Rec. de la Fuente is in the wrong TP"
Another transition bug. Can't find his enlistment, so I can't move him myself. He should be in TP 586.

[2015-01-08 22:32] yopuii commented on #151
As Lt. Campbell said:

QM Projects Board
QM Headquarters
Public QM Board

[2015-01-08 23:13] Browning29th opened #158 "XL Grid Classes for widescreen support"
https://github.com/marcvannieuwenhuijzen/BootstrapXL

These XL Grid Classes for bootstrap will improve the forum's widescreen support.

[2015-01-08 23:45] Browning29th opened #159 "'New' post indicator not functional"
The new post icon is present, even when all posts have been read.

[2015-01-08 23:51] swomma commented on #157
Recruit's assignment fixed to be in 586th TP

[2015-01-08 23:51] #157 closed

[2015-01-08 23:53] swomma opened #160 "Bug: Can not post attendance in AAR"
Since last update I can not set attendance while posting AAR. Submitting for adds the text of AAR but not the attendances.

[2015-01-09 00:16] Wheatles29 commented on #159
Click mark all posts read under the cog.

[2015-01-09 00:25] TheBergIsTheWord opened #161 "Job Title + Permissions"
SSgt. Bergstrom is lacking job title and permissions for Civil Affairs.

[2015-01-09 00:39] Evensen opened #162 "Permissions issue - SSgt. Evensen"
I don't have the permissions to post in the Baker Platoon Level Discussion. Other subforums there seem to work as intended. This means I can't post discharges, AIT badge requests etc.

[2015-01-09 00:53] Turczyn29thID opened #163 "Suggestion: Ability to quickly message to those individuals currently on-line"
Add a link to the online status that allows messaging to the individual:
![quickmessage](https://cloud.githubusercontent.com/assets/10408741/5673867/d5ed401e-976f-11e4-8494-614735b423a7.png)

[2015-01-09 01:52] #160 closed

[2015-01-09 02:04] wilson29thid commented on #146
At the moment it's via enlistments, so weapons passes are issued that way. Ideally we'd have a global list, though, as well as a list on a member's page.

[2015-01-09 02:05] wilson29thid commented on #149
Please re-open if this is still an issue

[2015-01-09 02:05] #149 closed

[2015-01-09 02:07] wilson29thid commented on #155
Merging w/#151

[2015-01-09 02:07] #155 closed

[2015-01-09 02:08] wilson29thid commented on #151
Please include 2Lt. Campbell's request in this issue.
So the first two are QM members only?

[2015-01-09 02:09] wilson29thid commented on #153
Reworded the title

[2015-01-09 02:11] #159 closed

[2015-01-09 02:12] wilson29thid commented on #161
I don't see you in [the old staff roster](http://29th.org/personnel/staff/?office=14)...what's missing??

[2015-01-09 02:14] wilson29thid commented on #162
We'll work on it - just to be clear though, are you talking about posting discharge *requests* or discharges themselves?

[2015-01-09 02:19] wilson29thid commented on #163
Thanks for the illustration! Two questions:
1) What makes you think when you see someone online that has anything to do with wanting to PM them? (not saying it doesn't, just wondering if there's any correlation)
2) Have you seen this done in bootstrap with [Linked items](http://getbootstrap.com/components/#list-group-linked) ? It's a bit different with the "badges" example above in that the rows a

[2015-01-09 02:22] wilson29thid commented on #89
For "Send a PM to your squad" see #106
For the "upcoming drills", did you notice drills you're expected at are a different color on the calendar?

[2015-01-09 02:25] wilson29thid commented on #111
@Evensen you can bookmark the unit page actually. Just click the name of the unit on the roster or in your personnel file. It's http://personnel.29th.org/#units/BP2

@PFCVeld it's important to understand that we didn't *drop* any features -- every single feature you see in the new system was hand-coded *from scratch* by myself or @swomma. There's no way to simply "copy over" the old features, so w

[2015-01-09 02:29] wilson29thid commented on #96
Sorry guys, but a PM recall is too complicated for the benefit it would offer. If someone wants to take this on (it'd be a forum plugin) feel free to re-open but for now I'm going to close in favor of #138 (preview button)

[2015-01-09 02:29] #96 closed

[2015-01-09 02:30] wilson29thid commented on #142
Good point @Turczyn29thID...leaving this open for discussion for now

[2015-01-09 02:32] wilson29thid commented on #130
Agreed. The problem is the two bars aren't connected at all. It's pretty easy to add the personnel dropdown links to the forums navbar, but pretty difficult to add the forum top-right area to the personnel navbar

[2015-01-09 02:33] wilson29thid commented on #109
Yes - the permission system would allow us to check whether (a) the person who's file you're viewing is within one of your units, or (b) you have global "notes" permissions. This would allow for basic notes but not notes that, say, only Company HQ or Platoon HQ can see.

[2015-01-09 02:35] wilson29thid commented on #115
In case anyone is interested in helping research the resolution here, there's probably a setting on the plugin we use, [nestable](http://dbushell.github.io/Nestable/) to disable drag & drop, which would likely re-enable underlying links

[2015-01-09 02:44] wilson29thid commented on #132
Can this be added to source control at `personnel-api/assets/scripts`?

[2015-01-09 03:07] TheBergIsTheWord commented on #161
Haha it hasn't been updated it seems, Sir. I'm the Chief!

[2015-01-09 09:41] swomma opened #164 "Suggestion: Editing AAR requires checking attendances again"
If I want to edit something in already posted AAR, attendance checkboxes  by the members' names are blank, which requires to mark them once again

**Suggestion**
Editing form of AAR should mark checkboxes for people who were already marked previously.

[2015-01-09 09:43] swomma opened #165 "Bug: Broken link to unit on AAR / Event page"
Unit name on top of AAR page leads to wronk place: there is " HQ" at the end of it - of course it is only in case of Platoon and Company Drills, for Squad Drills all is fine.

[2015-01-09 10:48] #165 closed

[2015-01-09 11:01] swomma opened #166 "Suggestion: Change display of roster on AAR page"
Roster on editing/posting AAR page (http://personnel.29th.org/#events/XXXXX/aar) is part of general roster and as such it shows some people more then once (like Platoon Clerks who have assignments to both Platoon HQ and their squad) what may lead to errors in attendance (possibly marking only one checkbox for that person)

**Suggestion**
Remake the roster on that page to be just a single list, sor

[2015-01-09 11:03] #164 closed, assigned to wilson29thid

[2015-01-09 12:17] #5 closed

[2015-01-09 12:21] wilson29thid commented on #94
The [new processes doc](http://29th.org/wiki/index.php?title=Personnel_v2) details how each process works and which ones require back-end access

[2015-01-09 12:25] #140 closed

[2015-01-09 12:38] wilson29thid commented on #99
AARs have always supported BB Code. Going to close this out and create a new issue just for `Add functionality to select / unselect all members of the drill`

Regarding the length of the unit name, I plan to implement the theme on this page which will make it a lot prettier / more balanced in general.

[2015-01-09 12:38] #99 closed

[2015-01-09 12:38] wilson29thid opened #167 "Add functionality to select / unselect all members in an AAR"
So you don't have to tick 70 boxes

[2015-01-09 13:19] Evensen commented on #162
Discharge requests Lt. Col. of course, just tried to be brief.

[2015-01-09 13:28] Evensen commented on #111
Thank you for the link Lt. Col., I am actually not able to click on the unit name in roster, I thought this was a feature and not a bug. Guess I have the same one (drag and drop) as I just read earlier.

[2015-01-09 13:33] Evensen commented on #115
I have the same issue, using Chrome. I am however able to "open link in new tab" by right clicking.

[2015-01-09 14:29] Browning29th opened #168 "max_input_vars in php.ini must be increaced beyond 2000"
I still am running into this problem after making new staff boards. Can't manage staff boards until it is resolved.

[2015-01-09 16:14] Dashwood29thID commented on #107
Still need a resolution to this. Can I help in anyway?

[2015-01-09 17:25] PFCVeld opened #169 "Bug: Image won't align Center in thread."
It seems i can't get a image to align itself in the center of a new thread, it just stays aligned to the left of the page.

Browser used: Firefox, version 34.0.5.

[2015-01-09 20:07] Browning29th opened #170 "First post in a topic can not be quoted"
First post in a topic can not be quoted

[2015-01-10 00:13] Turczyn29thID opened #171 "Bug Report: Can not edit posting in Extended LOA child board"
I posted an Extended LOA for PFC Memole.  I would like the ability to edit the post with more information, I can not.

[2015-01-10 01:13] Browning29th commented on #171
This appears to be an issue where no one can edit/delete their own posts, even if they have permissions to edit/delete.
I currently have no idea why this might be.

[2015-01-10 01:15] Browning29th commented on #169
Did you try:
<center><img src="imgName.gif" alt="image description" height="100" width="100"></center>

What else have you tried?

[2015-01-10 01:20] Browning29th commented on #167
Before this is ticked, people can use browser plugins that enable mass-ticking. However, it's far harder to work out who *didn't* come to a drill than who did, so you may find it easier to tick the 70 boxes anyway.

[2015-01-10 01:21] Browning29th commented on #162
Will work on this as soon as https://github.com/29th/personnel/issues/168 is solved

[2015-01-10 01:22] #139 closed

[2015-01-10 01:22] Browning29th commented on #107
Waiting on other forum fixes

[2015-01-10 01:23] Browning29th commented on #89
Most browsers (Firefox, Chrome, IE) have built in spell checkers.

[2015-01-10 01:55] wilson29thid commented on #168
Set to 20,000. Please let me know when we're done so we can set it back.

[2015-01-10 01:55] #168 closed

[2015-01-10 01:55] wilson29thid commented on #75
@Browning29th is this not something you know how to resolve via forum permissions?

[2015-01-10 01:56] wilson29thid commented on #169
`<img src="xxx" style="margin: 0 auto">`

[2015-01-10 01:56] #169 closed

[2015-01-10 01:58] wilson29thid commented on #167
Hm, actually that's a pretty good point... when would you actually want to mass tick everyone? Changing to discussion.

[2015-01-10 02:02] wilson29thid commented on #171
Are you quite certain @Browning29th? I'm able to edit posts just fine. Can you give an example? can you try again now that max input vars has been increased?

[2015-01-10 02:21] Turczyn29thID commented on #163
1) There are many times seeing someone online triggered a memory to send them a message and given that the currently online is more prominent, I thought it might happen to others too.
2)  No I have not but and this is the closest I can get quickly using a table:
![quickmessage2](https://cloud.githubusercontent.com/assets/10408741/5690130/70280e4a-9845-11e4-9ddc-e34adea1acbf.png)

[2015-01-10 02:25] Turczyn29thID commented on #171
I just went back to look and find this now - I don't remember seeing this previously.  Clicking the gear icon allows me to edit the posting.
![eloa edit](https://cloud.githubusercontent.com/assets/10408741/5690140/0114ab0c-9846-11e4-9a49-fef6bcfe9eca.png)

[2015-01-10 02:29] Turczyn29thID commented on #167
A point of order.  We have a wide range of user experience and abilities, does everyone use mass-ticking plugins?

[2015-01-10 02:36] Turczyn29thID commented on #115
I believe PFCVeld has the same issue as mentioned in [ #111](https://github.com/29th/personnel/issues/111)

[2015-01-10 02:46] Turczyn29thID commented on #115
This might be some help:
![rosterdragerror](https://cloud.githubusercontent.com/assets/10408741/5690199/9af8b0d6-9848-11e4-8fe1-048d8962f62c.png)
It does seem to be the drag class is enabled and I also experienced the error in loading the style sheet.  Though I have not been able to reproduce the style sheet error since this screen capture.

[2015-01-10 05:02] PFCVeld commented on #169
I tried this, did not work: http://forums.29th.org/discussion/345/29th-introduction-letter-to-ap1s3

[2015-01-10 05:08] PFCVeld opened #172 "Suggestion: Hide option for DH/RS/ARMA Qualifications"
At the moment, when you go to a soldier's Classifications, you gotta scroll through a entire list to get to where you need to be, maybe it's a good suggestion to make it all in like a click-able menu you can close and open? Don't know the correct English word for it right now, but pretty much just like how the Roster is now but only when you go on the page it's closed instead of open.

[2015-01-10 10:43] Browning29th commented on #169
Lt.Col's code works fine. I replied to your thread with an example.

[2015-01-10 10:44] #171 closed

[2015-01-10 10:46] Browning29th commented on #167
I can write a tutorial for installing one, but again; why would you need one?
It's far harder to work out who didn't come to a drill (an un-ticking people) than it is to see who did come to a drill (and tick them).

[2015-01-10 10:57] Browning29th opened #173 "Posts should have a minimum length"
Posts should have a minimum length

[2015-01-10 15:00] #161 closed

[2015-01-10 16:53] Turczyn29thID opened #174 "Feature Request: Add time zone to profile"
Profile currently shows country, having the time zone would be a big help too.
User case:
As a Unit Leader I am trying to determine a more amicable drill time for the unit.  My Unit spans multiple time zones from GMT-1 to GMT+7.  Forum discussions have provided blocks of time that have been suggested by the individuals and knowing each individuals timezone would also help.  This is on the enlistme

[2015-01-10 17:27] egelund29th opened #175 "Permissions Issue (Finance Office)"
I'm missing permissions to see this: http://forums.29th.org/categories/finance-donations which I need to see to be able to post donations.

My job is Asst. Chief Finance Officer

I also cannot see any other Finance Office boards,

Thanks,
T/5 Egelund

[2015-01-10 17:28] Turczyn29thID commented on #115
Question:  Why are we not using the default tree?
![defaulttree](https://cloud.githubusercontent.com/assets/10408741/5692459/e2b6fc36-98c3-11e4-9080-bd9a1d82f452.png)
It does the same thing, expands and collapses, provides a link, and eliminates the drag and drop.
We can also use a customized icon for each unit if desired, something the unit can submit.

[2015-01-10 17:37] Turczyn29thID commented on #167
@Browning29th @wilson29thid @Wheatles29
Use case: The Platoon clerk takes a screenshot of the participants present during drill.  The clerk is then tasked with having to designate who was present.  So which is easier; mass ticking all and then deselecting those not present or manually ticking those that were present.
Chicken or the egg?
Send a mass message to the Clerks and ask which they would li

[2015-01-10 18:27] johnsen29th opened #176 "Bug Report: Assigning recruiter and liaison to enlistments doesn't work"
Both drop-downs simply show a long list of empty fields.

[2015-01-10 19:48] Dashwood29thID opened #177 "Permission issue: T/5 Dashwood cannot post in Civil announcements"
I need to be able to post discharges as company clerk

[2015-01-10 19:49] Dashwood29thID opened #178 "Permission issue: T/5 Dashwood cannot modify profile/discharge users from forum"
I do not appear to have full permission to modify forum profiles in order to discharge and view combat status of users

[2015-01-10 19:52] Dashwood29thID opened #179 "Bug Report: faulty profile link from personnel"
When attempting to view my (and maybe other T/5 with "T5" set as name) profile from the personnel Roster I am redirected to a "Whoops User not found" page

[2015-01-10 20:10] johnsen29th opened #180 "Bug Report: Unable to process and modify enlistments"
When trying to modify or process an enlistment the enlistment remains unmodified/unprocessed with no error message.

Edit: The issue affects the following people:
PFC Johnsen
PFC Baker

It does not affect these:
PFC Tuomainen

[2015-01-10 21:39] wilson29thid commented on #180
Regarding modifying enlistments, this appears to be working except for the email field. That's because I meant to take out the email field from the form (since they already provide it at forum registration) but only took it out of the back-end.

Still diagnosing the processing, but it appears to be limited to @johnsen29th and I'm unable to reproduce the issue.

[2015-01-10 21:41] #176 closed

[2015-01-10 21:44] wilson29thid commented on #129
@Browning29th it appears enlistments are no longer publicly viewable. [Try viewing one](http://personnel.29th.org/#enlistments/4501) in an incognito window or while logged out. Do you know why?

[2015-01-10 21:54] wilson29thid commented on #178
Clerks do not have the permission to discharge - @Wheatles29 said COs are to do that. But you should be able to modify profiles - whose profile are you trying to modify?

[2015-01-10 21:56] wilson29thid commented on #174
Enlistment forms actually ask what time range they *prefer*, not what timezone they're in. You may be in EST but prefer drilling closer to midnight so you'd select the GMT "range." We then assign the cadets to a particular TP and unit based on that. With that in mind, what would we put on the profile and of what value would it be?

[2015-01-10 21:59] wilson29thid commented on #172
Going to merge this with #24 for now -- when those changes are implemented, please re-open if you feel like it's still tough to navigate

[2015-01-10 21:59] #172 closed

[2015-01-10 22:01] wilson29thid commented on #166
Can you test whether only marking one checkbox creates an error? Either way we should do that, perhaps just only show members once (`GROUP BY member`)

[2015-01-11 00:16] Turczyn29thID commented on #173
@Browning29th
Ugh..  I encounter this issue on a regular basis.  The main question that comes up is what do you consider a minimum length?
Here are some valid examples of postings:
* Yes - three characters
* No - two characters
* +1 - two characters

All valid replies.  So if you are going to have a minimum of two does it really matter?  Why would you want to spend programming resources to create

[2015-01-11 00:23] wilson29thid commented on #52
Implemented in javascript on codepen: http://codepen.io/anon/pen/emgLYg

[2015-01-11 00:24] Turczyn29thID commented on #174
I would place on the profile the preferred gaming timezone.  I feel this would be editable by the individual at anytime.  This would be most helpful for those in command of a unit (Company/Platoon/Squad) to understand the timezone needs of the person.  CP2 has be encountering this issue on a regular basis and I know CP1 has too.  I would have to believe this issue exists elsewhere in the Battalion

[2015-01-11 10:44] swomma commented on #179
It is the same problem as we had previously with forums' names, which was temporarely fixed with removing slash from technicians' names.

[2015-01-11 10:53] swomma commented on #163
@Turczyn29thID You can always click on the person's box under "Online Now" header - that takes you to person's forum profile, where you have "Message" button. Is reducing numbers of clicks to open message screen from two to one really worth coding?

[2015-01-11 14:55] Turczyn29thID commented on #163
@swomma Yes, I saw that recently I believe that to be a wise course of action.  Suggest withdrawn.

[2015-01-11 14:55] #163 closed

[2015-01-11 15:13] wilson29thid commented on #180
Replicated, but had to log in as @johnsen29th in order to do it (with his permission of course). Error is:

[code]

[2015-01-11 18:52] swomma commented on #180
@wilson29thid in that query you are trying to assign string (empty one to be presice) to a field of integer type. In case of unassigned EL you should set field to NULL, not ''

[2015-01-11 19:29] #180 closed

[2015-01-11 19:44] wilson29thid commented on #174
Interesting...now you've got me thinking...what if we did something more like a [doodle](http://doodle.com) for each squad member where they tick off each timeslot that's ideal for them?

[2015-01-11 19:59] wilson29thid commented on #115
@Turczyn29thID can you try [this roster](http://dev.timwis.com/personnel-app/app/) and tell me if you can still drag/sort it?

[2015-01-11 20:06] wilson29thid commented on #81
Just read:

And we can't use the "hack" below because the forum's on a different server.

[2015-01-11 20:30] Browning29th commented on #177
Clerks should not post discharged.

[2015-01-11 20:30] #177 closed

[2015-01-11 20:32] Browning29th commented on #173
The forum currently allows 0 length replies.
I suggest one as a minimum to avoid accidental, 0 length posts.

[2015-01-11 20:34] Browning29th commented on #167
How would you know who to untick?
You would have to cross reference the list of those present against the list all all members of the platoon. That would take a long time.

[2015-01-11 21:27] bagge29thID opened #181 "Service jacket broken"
As the title says, I cant see the service jacket on the new forums.

[2015-01-11 22:23] swomma commented on #181
Fixed, if you still don't see it, refresh without using cache (CTRL + F5)

[2015-01-11 22:23] #181 closed

[2015-01-11 22:32] Patty29th opened #182 "Bug Report: Cant Assign Members"
The Assign button does not appear under the Admin tab for me.

[2015-01-11 22:55] Patty29th commented on #182
I cant see Assign for anyone, even people in my own Company.

[2015-01-11 23:25] swomma commented on #182
Fixed personnel permissions

[2015-01-11 23:25] #182 closed

[2015-01-12 00:49] Dashwood29thID commented on #178
@wilson29thid I was trying to assist in the discharge of PFC Kaspian. I was not aware that clerks could not discharge. This should be made known to 1Lt. Patterson who was asking me to do so. If it is something that I should not be able to do then this matter could be closed at your discretion

[2015-01-12 03:55] Turczyn29thID commented on #173
Yes I have drafts saved of zero lengths all the time.

[2015-01-12 03:56] Turczyn29thID commented on #115
@wilson29thid No I can not. It works great!  Links all work.

[2015-01-12 04:02] Turczyn29thID commented on #174
+1! then if it could be extended to display the availability map on a leadership page (think Alerts on the old forum) that would be great.

[2015-01-12 09:23] swomma opened #183 "Public visibility of finances and enlistments"
In old personnel system finance ledger and enlistments weren't visible to unlogged public viewer. Do we really want world to see that?

[2015-01-12 10:47] wilson29thid commented on #75
Bump, @Browning29th

[2015-01-12 11:22] wilson29thid opened #184 "S-1 Needs unit_roles and unit_permissions"
[2Lt. Campbell](http://personnel.29th.org/#members/11430/servicerecord) should be assigned as "Battalion S-1" instead of the three chief positions. He will get the forum groups when we add records to the `unit_roles` table for each role. He'll also need a few `unit_permissions` like `assignment_add`.
@xleveille is this something you can help with?

/cc @Wheatles29

[2015-01-12 12:07] wilson29thid commented on #183
It was intentional to make finances public but perhaps it makes more sense to restrict that to members. Enlistments have always been public.

[2015-01-12 12:07] #183 closed

[2015-01-12 12:13] wilson29thid opened #185 "AWOLs not showing properly"
[List of AWOLs](http://personnel.29th.org/#units/Bn/awols) shows only 1, despite [a recent drill](http://personnel.29th.org/#events/15112) having 3 AWOLs.

[2015-01-12 12:17] wilson29thid commented on #185
[code]

[2015-01-12 12:26] #185 closed

[2015-01-12 12:27] wilson29thid opened #186 "Unit attendance & AWOLs pages not displaying"
http://personnel.29th.org/#units/Bn/awols doesn't load. No error. API call is fine.

[2015-01-12 12:44] #186 closed

[2015-01-12 12:49] Turczyn29thID commented on #167
We are saying the same thing only from opposing points of view; determining who to un-tick or tick.
Let's break this down to the mechanics of the situation.  A list of names is generated of those that were present during a drill; a roster is written down or a screenshot is taken while in game, in either case a list of names is generated.
From this list an AAR is generated to which the ticking must

[2015-01-12 13:04] johnsen29th opened #187 "Feature Request: A way for enlistment liaisons to see all enlistments assigned to them"
A simple page which lists TP with timezone and game along with a link to the enlistment for each cadet would be fine. The EL should also get a notification when a new cadet is assigned if possible.

Even better would be if there was also checkboxes for each cadet (visible to ELs only) to be used to track the progress of the cadet prior to BCT. Currently we use forum threads to keep track of this,

[2015-01-12 15:07] Browning29th opened #188 "Positions question"
Delete me

[2015-01-12 15:09] #188 closed

[2015-01-12 15:56] Browning29th commented on #126
Fixed

[2015-01-12 15:56] #126 closed

[2015-01-12 16:01] Evensen commented on #115
Drag and drop works for me in that link still Lt. Col.

[2015-01-12 16:09] swomma commented on #115
@Evensen actually it's about clicking on the units' names - in current personnel that causes beginning of the drag, when in Lt. Col.'s dev it just opens the link - so there is sound progress.

[2015-01-12 16:50] Browning29th commented on #184
Done everything except unit_permissions.
@swomma , have you done that?

[2015-01-12 18:09] swomma commented on #184
@Browning29th I've added `assignment_add`. Not really sure what other ones should be added. Note: add same to S2, 3 and 4

[2015-01-12 18:41] Dashwood29thID opened #189 "Permission issue: T/5 Dashwood cannot transfer people within Baker company"
My admin box (Top right when viewing someones profile) only appears for people in BP2 but does not show anything other than modify profile. I need to see admin for all of Baker.

[2015-01-12 19:05] Browning29th commented on #162
Fixed

[2015-01-12 19:05] #162 closed

[2015-01-12 19:49] Evensen commented on #115
@swomma you mean this right?

https://www.dropbox.com/s/nelifmdq9p4b9ou/Screenshot%202015-01-12%2020.47.44.png?dl=0

[2015-01-12 20:04] Browning29th commented on #184
Closed for now.

[2015-01-12 20:04] #184 closed

[2015-01-12 20:34] johnsen29th opened #190 "Bug Report: Cadets can be in multiple TPs at once"
Example: http://personnel.29th.org/#members/84781

This happened when the cadet was first assigned to TP 588, reassigned (through reprocessing of the enlistment) to 592 and then reassigned again to 588.

The cadet in question enlisted after the move, so it seems to be an underlying bug in the new personnel system.

[2015-01-12 21:25] Dashwood29thID opened #191 "Permission issue: T/5 Dashwood cannot post transfer notices"
I am unable to post notices of transfer in civil announcement thread

[2015-01-12 22:29] johnsen29th opened #192 "Bug Report: Clicking "more" then changing filter causes incorrect behavior on enlistment page"
When clicking "more" and then "accepted" to filter only accepted enlistments, all enlistments newer than a certain date will also disappear.

[2015-01-12 22:43] swomma commented on #192
It's not a bug, it's a feature. When you change the filter it reloads the list and sets the length to standard last 15 entries.

[2015-01-12 23:18] Evensen opened #193 "Bug Report: New posts in Child Boards does not show up in Latest Post bar"
When a new post is made, say in "Medal request" child board of Platoon Level Discussion forum, the latest post bar of the main forum is not updated, and only the latest post in Platoon Level Discussion is shown.

This makes it difficult to stay ajour with what happens in the forum, as each child board would have to be clicked on manually to find out if there are any new posts.

[2015-01-13 00:19] wilson29thid commented on #81
Table: `manual-categories`
| id | code | title | ability_id |
|---|---|---|---|
| 1 | FM 21-100 | Soldier's Handbook | manual_view_fm-21-100 |
| 2 | FM 21-20 | Cadet's Handbook | manual_view_fm-21-20 |
| 3 | *NULL* | Policy Handbook | manual-view_policy |

[2015-01-13 01:00] wilson29thid commented on #81
Made the wiki public. Now it's just a matter of migrating it, per #68

[2015-01-13 01:00] #81 closed

[2015-01-13 01:14] wilson29thid commented on #75
Looks like this was done but the issue was never closed.

[2015-01-13 01:14] #75 closed

[2015-01-13 03:00] wilson29thid commented on #78
Changed title to what I think it should actually be - a [nomarkdown] tag or an [html] tag where Markdown is not parsed within it

[2015-01-13 07:12] johnsen29th commented on #192
That would be the logical behavior, yes, but it's not the current one.

At the time of writing, the most recent accepted enlistment is that of Diver, posted on Jan 12. If I click "more" and then "accepted," the most recent enlistment I see is that of Duran, posted on Jan 5. In other words, it does not show the last 15 entries, but seems to skip the last 15 and then show the rest.

I've recreated t

[2015-01-13 08:27] swomma commented on #192
@johnsen29th yup, now I see what you meant.
@wilson29thid On clicking filtering buttons it doesn't reset `skip` parameter when invoking API

[2015-01-13 09:07] swomma commented on #175
Your forums permissions should be fixed now. If it is not the case, please msg me or post in that issue thread

[2015-01-13 09:07] #175 closed

[2015-01-13 09:15] swomma commented on #79
@wilson29thid That would mean removing `profile_edit` ability from squad-level units' leaderships, leaving them only with abilitites to add/remove qualifications and posting AARs. Does that sound correct?

[2015-01-13 10:51] wilson29thid commented on #192
Thanks for diagnosing @swomma, spot on, easy fix!

[2015-01-13 10:52] #192 closed

[2015-01-13 10:58] #154 closed

[2015-01-13 10:58] #179 closed

[2015-01-13 11:09] wilson29thid commented on #129
They're publicly viewable again now so back to the original request

[2015-01-13 11:10] wilson29thid commented on #79
Yes

[2015-01-13 11:26] Browning29th commented on #107
fixed

[2015-01-13 11:26] #107 closed

[2015-01-13 11:27] #136 closed

[2015-01-13 11:28] Browning29th commented on #129
I have no idea about this. Sorry

[2015-01-13 11:28] Browning29th commented on #77
done

[2015-01-13 11:28] #77 closed

[2015-01-13 11:28] #70 closed

[2015-01-13 11:29] Browning29th commented on #151
Done

[2015-01-13 11:29] #151 closed

[2015-01-13 11:56] #113 closed

[2015-01-13 11:57] wilson29thid commented on #92
Now shows in service record

[2015-01-13 11:57] #92 closed

[2015-01-13 11:57] wilson29thid commented on #113
You're right, looks way better

[2015-01-13 12:00] wilson29thid opened #194 "Add forum post links to service record items"
Nearly every item has the forum topic ID where it was posted, as well as which forum it was posted on.

[2015-01-13 13:15] swomma commented on #79
Done. Only Batt, Co & Platoon HQ + LH can edit profiles.

[2015-01-13 13:15] #79 closed

[2015-01-13 14:41] swomma commented on #193
@Evensen that is true and that is why I prefer to use <a href='http://forums.29th.org/discussions'>Recent Discussions</a>

[2015-01-13 14:46] Browning29th commented on #193
I fine Recent Discussions useless. 90% of the posts I have no interest in. RD does not help me find posts important to me.

[2015-01-13 15:34] swomma commented on #178
Closing as per T/5 Dashwood's request - all sorted out.

[2015-01-13 15:34] #178 closed

[2015-01-13 15:55] swomma commented on #189
Ability to transfer people is reserved for Platooon / Company / Battalion / Staff Corps Leadership. Therefore I leave it for consideration of @wilson29thid, @Wheatles29, @Browning29th

[2015-01-13 16:03] swomma commented on #191
Fixed

[2015-01-13 16:03] #191 closed

[2015-01-13 16:08] Dashwood29thID opened #195 "Suggestion: Seperate transfer notices into their own sub board"
In order to loosen up Civil announcements for actual Civil announcements (Other than transfers), I would recommend creating a sub board similar to the discharges. This way we could neaten up the board and have an easier way of accessing specific items of interest.

[2015-01-13 16:37] swomma commented on #194
To list  the tables we use forum links:
* `awardings`
* `demerits` (used only 3 times in history)
* `discharges` (in new forums first 2 use `forum_id` and `topic_id` fields, next ones don't - bug?)
* `enlistments` (used on old forums, not on new)
* `finances` (some links to forums missing on recent old-forums entries)
* `promotions`

[2015-01-13 19:21] Browning29th opened #196 "Set up headquartors staff group"

[2015-01-13 19:21] Browning29th commented on #196
@Wheatles29

[2015-01-13 19:29] yopuii opened #197 "MP Permissions"
Still need the setup that was requested. Key word is *need*.

Server Admin position needs access to only basic board.

Military Police need MP Investigations, but no viewing access to the rest of the 29th forums.

Senior MP gets Investigations and access to view full forums (minus OCS board ofc)

[2015-01-13 22:26] Tuomainen commented on #142
PFC Veld linked this: https://forums.robertsspaceindustries.com/ and this is what I was looking for (if you hover over "About", "Comm-link" etc...). I don't see undesirable experience there. Maybe I explained myself unclearly or I maybe I didn't just understand what you mean @Turczyn29thID ?

[2015-01-13 22:39] Turczyn29thID commented on #142
@Tuomainen I knew exactly what you meant. :)  I was not opposing the request only giving feedback into potential pitfalls with implementation.
Per your link, the delays - especially - fadeDelay is very quick, <100ms and is what I would expect if something like this was implemented.
My only other comment pertains to UI experience, what you might believe to be an enhancement could be an annoyance to

[2015-01-14 04:28] MarkMinor opened #198 "Bug Report: Missing Permissions"
T/5 Minor

I currently lack the ability to create new discussions in the Awards board due to a lack of permissions.

[2015-01-14 04:49] wasdlmb opened #199 "Permissions Issue: Pvt. Arjet is unable to access finance boards or ledger"
As I (Pvt. Arjet) am both an active statistical accountant and finance officer, i need to be able to access the sub boards of the finance office and the ledger (at http://api.29th.org/admin/finances); however, the sub boreds don't appear to me and, when I try to access them via link, it says "Permission Problem." The ledger just says "Permission denied."

[2015-01-14 08:15] swomma commented on #199
Your permissions should be fixed now

[2015-01-14 08:15] #199 closed

[2015-01-14 11:46] wilson29thid commented on #87
Done via [custom forum plugin](https://github.com/organizations/29th/repositories/new)

[2015-01-14 11:46] #87 closed

[2015-01-14 12:38] wilson29thid commented on #187
Hm, the first paragraph would be resolved by #120 but the second paragraph sounds interesting, so I'm going to change the title of this to "Recruit Tracker". Can you elaborate on what exactly the liaisons keep track of?

[2015-01-14 12:41] wilson29thid commented on #189
Currently under discussion in HQ

[2015-01-14 12:43] wilson29thid commented on #193
This will be more challenging than the top level boards but is theoretically possible with a forum plugin. In the meantime, you can click the gear on each board you're not interested in and click "Hide" to prevent them showing up in Recent Discussions / Unread Discussions.

[2015-01-14 12:44] swomma opened #200 "Bug: Coats don't get auto-updated"
Coats of members should be auto-generated upon receiving promotion or an award. Also in case of cadets upon graduating BCT (or perhaps upon assignment to a TP?)

[2015-01-14 12:45] wilson29thid commented on #195
Actually I think we should rename "Promotions and Awards" to something more all-encompassing, and put them all in there - promotions, awards, badges, discharges, transfers, graduation threads. Thoughts? What would we call it?

[2015-01-14 12:46] wilson29thid commented on #196
What is this referring to? A forum group/role? A unit on the roster? Permissions in the personnel system?

[2015-01-14 12:48] wilson29thid commented on #197
@Browning29th do you need anything else to fulfill this request?

[2015-01-14 12:51] wilson29thid commented on #174
Can you help me find a tool for that? Doodle is one option, but there may be a better one. Or perhaps a mockup to help me visualize it if it will require custom coding?

[2015-01-14 12:52] johnsen29th commented on #187
The liaisons need to keep track of the following:

Whether acceptance letter has been sent
Cadet has been added to steam friends
Cadet has been invited to TP steam group
Cadet has set in-game binds
The cadet's interest has been confirmed a short time before BCT start

[2015-01-14 12:54] wilson29thid commented on #129
@Browning29th no idea about what? The "original request" is to put the enlistment office forum as a child of the Lighthouse forum

[2015-01-14 13:11] Wheatles29 commented on #196
It's a note for him to setup a separate grouping to allow Cpt Walker to see all the offices.

[2015-01-14 14:53] Browning29th commented on #198
fixed

[2015-01-14 14:53] #198 closed

[2015-01-14 14:54] Tuomainen commented on #195
I think it would be just a mess if all such threads were posted in one place. Because there are (and will be even more) plenty of each. Didn't it work fine at the old forums, having the sub board for transfers?

[2015-01-14 14:56] Tuomainen opened #201 "Suggestion: "Cadet" replaced with "Recruit" in the roster"
T/5 Sambrook suggested:

"Can we have 'Cadet' in the roster replaced with 'Recruit'? It's a lot more fitting, considering that they aren't officer cadets. Plus, on the old forums they were listed under Rct. for recruit."

[2015-01-14 14:56] Browning29th commented on #129
enlistment office is now a child of the Lighthouse forum

[2015-01-14 14:58] Tuomainen commented on #201
Definitely +1 from me, considering the TS rank is for them "Rct." already.

[2015-01-14 14:59] Browning29th commented on #197
No, just need to talk to @yopuii ASAP

[2015-01-14 15:06] Browning29th commented on #196
ok, you can xfer him

[2015-01-14 15:06] #196 closed

[2015-01-14 15:15] swomma commented on #195
I think what Lt. Col. meant was putting separate sub-boards for promotions, awards, badges, discharges, transfers, graduation threads and putting them in one place - renamed "Promotions and Awards" board.

[2015-01-14 15:26] johnsen29th opened #202 "Feature Request: An easier way for cadets to find their enlistment"
Related to #129. Since the enlistment office is now a subforum of LH, it can be hard for cadets to find their enlistment to check for replies. As far as I can tell, unless they bookmarked their enlistment they have to navigate to personnel and then enlistments, and find their own enlistment there.

One way to solve this could be a clearly visible button/link from the forum front page. Does the for

[2015-01-14 15:51] swomma opened #203 "Bug: Empty icon for Cadet rank in Service Record"
Missing icon when 29th member was GDed, re-enlisted and his rank was changed to Cadet: http://personnel.29th.org/#members/13/servicerecord

[2015-01-14 17:47] Deakin29th opened #204 "Permissions Issue: Pvt. Suhr cannot post LOA"
Pvt. Suhr from AP1S2 says he is currently unable to post LOA on the forums. When he selects the drill that he needs to post LOA for the only option he can see is 'Post AAR'.

[2015-01-14 18:56] jaensch29th opened #205 "Bug Report: not able to post an LOA less then 24 hrs after end of drill"
PFC Bonde http://personnel.29th.org/#members/83693 missed BP1S2s Squad drill on monday the 12th http://personnel.29th.org/#events/15148 , and as he visited this event in the calendar the next day at 3pm gmt+1 (his local time) it said the time was expired to post the LOA. If policy has not been changed he should have had still several hours time to post the LOA (possibly a timezone issue?).

[2015-01-14 20:38] yopuii opened #206 "Feature Request: Postal Secretary Automation"
A while back the Postal Secretary job had a system where e-mails were automatically generated and sent to the cadets at the push of a button. I vaguely remembers this from DoD when I briefly did the job myself, however sometime during DH the system seemed to stop working correctly. I'm wondering if a new system for postal secretary automation would be possible on this new forums. If so, I'd like t

[2015-01-14 22:25] Nguyen29ID opened #207 "Attendance Record Percentages"
I think it would be very useful to have an attendance percentage on each personnel file, similar to the old forum.
Attendance for:
Past 30 days,
Past 60 days,
Past 90 days,
Overall.

[2015-01-14 22:39] swomma commented on #207
Duplicate of #3

[2015-01-14 22:39] #207 closed

[2015-01-14 22:53] Turczyn29thID commented on #174
@wilson29thid
Here is something I do by hand using excel after polling the unit for availability for drill times.
![drilltime 1](https://cloud.githubusercontent.com/assets/10408741/5749328/ff5c165a-9c15-11e4-91f4-fdc17b5ec009.png)
As you can see at a glance I can determine overlaps of the members to help visualize availability.

[2015-01-14 23:18] MarkMinor opened #208 "Bug Report: Multiple Issues"
T/5 Minor

I seem to has lost access in posting permissions again for the Promotions and awards. At times I can access a discussion, other times I cannot. The same goes for editing a discussion.

I have also lost the ability to access BP3's Second or Third Squad.

[2015-01-14 23:49] wilson29thid commented on #204
Which drill is he trying to post LOA for? Can you provide a link?

[2015-01-14 23:54] wilson29thid commented on #205
Huh? If the drill was 1/12 at 3pm EST, he should have until 1/13 at 3pm EST to post LOA... it sounds like you're saying he was trying to post it on 1/13 at 9pm EST (3pm GMT+1), which is more than 24 hours after the drill. Am I misunderstanding?

[2015-01-15 01:18] Evensen commented on #205
Sir, 3pm gmt is about 6 hours before 3pm EST, so about 9am EST, not 3pm. Maybe it is an issue of forum time zone set different than drill time zone?

[2015-01-15 03:50] Laggy29th opened #209 "Permissions Request: PS -> Clerking board"
Requesting Platoon Sergeant permissions to allow access to the clerking boards.

[2015-01-15 04:51] MarkMinor commented on #208
I'd also like to add I am unable to access http://forums.29th.org/discussion/511/promotion-and-badge-format#latest

This adds more steps to my awards list

[2015-01-15 10:47] Tuomainen opened #210 "Bug(?): Not being able to link the award post"
![vanilla](https://cloud.githubusercontent.com/assets/10409099/5756098/b94652ee-9cb4-11e4-8cd0-7c1b393f41d7.png)

If I've understood the feature right... by providing forum type and Topic ID when making a new record and after submitting it, one should be able to access the promotion/badge/award thread from member's service record it should lead to the award post but I haven't managed to get it wor

[2015-01-15 10:58] wilson29thid opened #211 "Create activity feed"
Think about how comments could work...similar to activity on forum?

Also think about whether we should simply pull from the existing service record type queries or if there should be an `activities` table where all activity is aggregated like in the old system. @swomma thoughts?

[2015-01-15 11:28] swomma commented on #211
@wilson29thid From what I remember we planned to just aggregate from different tables (like we do in Service Record) - based on the date of activity.

[2015-01-15 11:33] swomma commented on #210
Connected to #194

[2015-01-15 11:33] Tuomainen commented on #210
Just saw that was about to close this if it's still WIP :) Thanks @swomma

[2015-01-15 11:38] #24 closed

[2015-01-15 11:43] Tuomainen opened #212 "Forums Suggestion: Recruitment Center as child board of "Battalion Discussion""
Can Recruitment Center be moved again under Battalion Discussions? Now it's under "Off-Topic Forums"

http://forums.29th.org/categories/recruitment-center

[2015-01-15 12:05] wilson29thid commented on #211
* Promotions
* Awardings
* Event Attendance / AWOLs
* Demerits
* New Extended LOAs (and returned ELOAs?)
* Discharges
* AIT Qualifications

[2015-01-15 12:27] wilson29thid opened #213 "Add report_edited_date to events table"
Or whatever nomenclature is consistent with other tables we've setup. If you can provide the SQL to add the field I can do it directly on my local DB and start developing #211.

[2015-01-15 12:28] wilson29thid opened #214 "Implement automated database backups"
Need to research best practices here

[2015-01-15 12:34] wilson29thid commented on #201
Hm, but Recruit is the "rank" and Cadet is the "position." This isn't new, it was this way in the old system too (I believe). Can we find any historic evidence of what they were called?

[2015-01-15 12:59] swomma opened #215 "Suggestion: Enlistments in "Pending" state"
As a reminder: On http://personnel.29th.org/#enlistments you can see there are enlistments in Pending state from long long time ago and also those that are actually already accepted (like PFC Stefan re-enlisting)

[2015-01-15 13:05] swomma commented on #213
Added both posting and last edit dates
[code]

[2015-01-15 13:05] #213 closed

[2015-01-15 13:06] #210 closed

[2015-01-15 14:25] #203 closed

[2015-01-15 15:45] yopuii opened #216 "Feature Request: Search Functionalities for Ban Log"
An ability to search through the ban logs on the API system would be extremely helpful, if not necessary.

[2015-01-15 16:18] xleveille opened #217 "Not all jackets are correct"
I didn't see an issue about this so I'm making one.

Some jackets are not correctly displaying what's on the TOD.

Example: http://personnel.29th.org/#members/3681/servicerecord

Still shows as a T/4.

Could just be a required button like "Update jacket" on the old system?

[2015-01-15 17:28] Browning29th commented on #212
Does lighthouse HQ/Battalion Staff/Battalion HQ support this?

[2015-01-15 17:33] #197 closed

[2015-01-15 18:22] swomma commented on #217
I will update all jackets as soon as #200 is fixed. For now I'm doing it manually on awards and promotions. Some of the jackets might not include changes from December.

[2015-01-15 19:48] jaensch29th commented on #205
Yes, sorry, exactly as the SSgt. wrote, i forgot to mention the original drill time which was 9 pm gmt+1. So, 6 hours before the normal 24 hour window would expire, at (or short after) 3 pm gmt+1 said PFC was not able to post absence.

[2015-01-15 22:42] wilson29thid commented on #187
@swomma any creative ideas for how to do this other than just additional fields in the `enlistments` table?

[2015-01-15 22:57] Browning29th commented on #208
This is under discussion elsewhere.

[2015-01-15 23:02] Campbell29th opened #218 "Adjutant sub forum/QM jobs"
Need the following sub forum:

Attendance Adjutant

~~Activation of QM jobs:~~

~~Chief Quartermaster~~
~~Assist Chief Quartermaster~~
~~Quartermaster~~
~~Quartermaster Secretary~~

~~Adding of Finance Secretary Job to Finance Office Roster~~

[2015-01-15 23:14] Dan2802- commented on #201
http://www.ww2gyrene.org/boot_camp.htm
https://en.wikipedia.org/wiki/Cadet#United_States
https://en.wikipedia.org/wiki/Army_recruit

A cadet implies that they are training to be enrolled as officers. This is how it currently works in the U.K. and as far as I know, the modern U.S.. As far as I can tell, there was no 'rank' as such during Basic Training in World War 2.

Recruit would be the correct

[2015-01-16 00:20] swomma commented on #187
@wilson29thid adding fields to enlistment seems the easiest idea. Also in old system there was some structure for that although it didn't get finished.

[2015-01-16 02:34] wilson29thid opened #219 "Document forum upgrade process"
Something along the lines of:

[code]
Although it's probably better to branch off into a `29th-extensions-2.1.7` branch (or whatever version is being merged) just in case.

After a successful [forced] push, go to the other remotes and:

[code]

[2015-01-16 04:59] JHill29th opened #220 "Bug: Enlistment Process Error On Registration Link And Signup Link"
Have received two complaints regarding the enlistment process stating that the registration link gives an error or blank page.  I passed this link to one individual: http://forums.29th.org/entry/register?Target=%2F
The link worked and loaded the registration page but the Signup button caused an error page: http 500 error "this page could not be displayed"

[2015-01-16 05:49] Dan2802- opened #221 "Embedding Google Form"
Just something quick. I'd like a Google form embedded on the site for the purposes of BCT, if it could output to a spreadsheet on the site as well that would make the process easier. If you cannot access the LH boards to see the form in particular, please let me know.

The URL would should only be able to be accessed at certain times. (i.e. During BCT)

A URL like forums.29th.org/test would be inc

[2015-01-16 11:18] wilson29thid commented on #220
Resolved! Thanks for pointing this out. Just a server configuration issue that needed to be changed to support the new anti-spam plugin. Can you have them try again?

[2015-01-16 11:18] #220 closed

[2015-01-16 11:24] wilson29thid commented on #221
Hi T/5, can you tell me what the spreadsheet is for/would contain?

[2015-01-16 11:26] wilson29thid commented on #213
Thanks @swomma but I've used `report` instead of `aar` in the field names to be consistent with the other two existing fields, `report` and `reporter_member_id`. Sound good?

[2015-01-16 11:51] wilson29thid commented on #213
I've updated the production db to reflect `report` instead of `aar`, and now AAR posting/edit times are being captured and displayed on event pages. Thanks!

[2015-01-16 12:06] wilson29thid commented on #215
@johnsen29th you guys are going to work through these right?

[2015-01-16 12:08] wilson29thid commented on #216
There's a little magnifying glass at the bottom-left - is it not working?

[2015-01-16 12:08] #216 closed

[2015-01-16 12:09] wilson29thid commented on #212
Yes, this should not be public

[2015-01-16 12:10] wilson29thid commented on #208
@Browning29th where? Do you mean in Company HQ or something? If you mean here, you can reference issues with a number sign, ie. `#123`

[2015-01-16 12:15] wilson29thid commented on #202
Perhaps it can replace the **Enlist** button I'd like to create with #47 after enlisting

[2015-01-16 12:23] #148 closed

[2015-01-16 12:24] wilson29thid commented on #78
Upgraded markdown parser with forum upgrade

[2015-01-16 12:24] #78 closed

[2015-01-16 12:24] wilson29thid commented on #95
Resolved with switch back to markdown editor

[2015-01-16 12:24] #95 closed

[2015-01-16 12:27] #129 closed

[2015-01-16 13:06] Browning29th commented on #221
I am told this is a form for the last day BCT test.

[2015-01-16 14:42] johnsen29th commented on #215
@wilson29thid yes, we are aware of the issue. There will be time to deal with these when the more immediate concerns are worked out - as far as I know, they aren't doing any damage as they are.

[2015-01-16 17:34] MarkMinor commented on #208
It appears that I have gotten my permissions back for the Promotions and awards section.

However there has been a change to the toolbar for my options in editing posts. During this transition, I seem to have issues editing posts. One example is PFC Redd's award posting seen at

http://forums.29th.org/discussion/560/three-years-of-service-redd-caeser-a#latest

No matter what I do I cannot seem to

[2015-01-16 17:38] Dan2802- commented on #221
The spreadsheet would be an output for a form. I've PM'd you on the forums about it Lt. Col.

[2015-01-16 17:40] MarkMinor commented on #208
I also have trouble with coding as well now, images on any new posts I make so far are failing to show up and only present a hyperlink.

[2015-01-16 23:12] Turczyn29thID opened #222 "Bug Report: Can not scroll discussion preview modal window"
The modal window of a discussion preview does not have a vertical scroll bar.
![forumpreview1](https://cloud.githubusercontent.com/assets/10408741/5785915/21113ca8-9dab-11e4-83a5-2bc49c9dbe2d.png)
If you can see from this screenshot more text is present at the bottom of the modal window and there is no vertical scroll to view the text.

[2015-01-16 23:45] JHill29th opened #223 "[Feature Request] Display PM by a subject line not by members' name and message body."
Private messages need a subject line and to have them displayed using the subject line.  Sorting through and trying to find a specific PM is daunting when the way they are displayed is by the names of the members involved in the message and the body of the message.

[2015-01-17 00:06] JHill29th opened #224 "[Bug] Formatting buttons for discussion/comment editor (markdown) are blank using mobile browser"
Using Safari mobile browser the formatting buttons are blank. They function but you can't tell which button does what because there is no picture.

[2015-01-17 02:56] Turczyn29thID opened #225 "Bug Report: Markdown not working properly"
Those that can go here to review the issue: http://forums.29th.org/discussion/616/welcome-letter
As you can see markdown syntax was used though it is not translating correctly.

[2015-01-17 11:11] JHill29th commented on #225
I fixed to formatting of that before I saw this report.  I had to use a mix of html and bbcode to get it to format properly.

[2015-01-17 20:17] PFCVeld opened #226 "Typo in EIB"
Just a small suggestion in a soldier's EIB their is a typo:

- Proper usage of secondary weapons and standard equipmen.

[2015-01-17 20:26] Turczyn29thID commented on #225
@wilson29thid
Per the bug Markdown is not working properly, FSgt. Hill fixed the formatting with a mixture of html and bbcode though I believe the intent is to mainly use Markdown, in this case it was not working.
An item to note; I had used the exact same message to a new member and the code worked fine, only when posting on the forum was it different.  Lt. Col I can add you to the message so you

[2015-01-17 20:52] swomma commented on #226
Fixed

[2015-01-17 20:52] #226 closed

[2015-01-17 20:53] Turczyn29thID commented on #225
Take a look at this discussion where I tried to use a Markdown table for the awards: http://forums.29th.org/discussion/243/clerk-discussion-thread#latest

[2015-01-17 21:45] JHill29th commented on #224
Picture:
http://www.mediafire.com/view/53qaee4ufcl6xsh

[2015-01-18 17:23] johnsen29th commented on #142
I agree with @Tuomainen on this. As someone who uses the personnel system and the forums a lot, the extra click can be a hassle, especially on slow internet connections.

[2015-01-18 17:27] wilson29thid commented on #189
@xleveille can you please give clerks the ability to transfer? (There's currently an entry for each Platoon HQ and Company HQ of `assignment_add` -- just change `access_level` to `Default`)

[2015-01-18 17:38] wilson29thid commented on #225
Turns out I had that BBCode+Markdown plugin I ~~wrote~~ botched still enabled and that was messing it up. Turned it off and it appears to be working properly.

[2015-01-18 17:38] #225 closed

[2015-01-18 17:46] wilson29thid commented on #224
Resolved - mobile now uses the same theme as desktop

[2015-01-18 17:46] #224 closed

[2015-01-18 17:49] wilson29thid commented on #221
Oh, that's what that was! I thought you were just PMing me a cool new thing you were working on - didn't realize it pertained to this GH issue :P

Have you considered that if you do something like `29th.org/poatest` it'll be a lot easier to share around, whereas if you create a random `goo.gl/sadf78zx` URL each time and delete it after, it would be much harder to share after the test?

[2015-01-18 18:23] xleveille commented on #189
Done

[2015-01-18 18:53] Deakin29th commented on #204
The issue has been resolved, apologies for any inconvenience.

[2015-01-18 18:53] #204 closed

[2015-01-18 19:05] Campbell29th opened #227 "Adjutant elevated and normal permissions"
Need the adjutant permissions to be set up

[2015-01-18 19:07] Langtord opened #228 "Bug report: No access to the Clerk Headquarters/Enlistment Liaison permissions"
I should be able to see the Clerk Headquarters right below Squad Level Discussion as a child board but it does not appear so far even if it appears like I have the permissions on the Forums.

Also, as an Enlistment Liaison I should be able to veridy the IPs but I have a lack of permissions so far, will it be possible to fix it?

[2015-01-18 19:21] Dan2802- commented on #221
Ideally, the test would only be viewable / takeable during a certain period, also having it embedded on the site would mean that if I am ill / offline / unable to be at my PC it would be do-able.

Or, another idea is a password, maybe the TP number.

These are just ideas at the moment. In response to your message on the forums:

We had a test run last EST RS BCT, it was incredibly effective. The t

[2015-01-18 19:53] #2 closed

[2015-01-18 19:53] #111 closed

[2015-01-18 19:53] #106 closed

[2015-01-18 20:08] wilson29thid opened #229 "Add steam group link to unit page"
@swomma can we add `steam_group_abbr` to the `units` table? Technically there's a group ID as well (similar to an ROID) but I'm not sure what the advantage of it would be and this one will be easier to people to input.

Assign to me when you're finished and I'll work on front-end

[2015-01-18 20:09] wilson29thid opened #230 "Add unit logo and slogan to unit page"
Ideally the unit leaders would be able to edit these like they edit their member profiles.

[2015-01-18 21:02] swomma commented on #228
All issues fixed

[2015-01-18 21:02] #228 closed

[2015-01-18 22:08] swomma commented on #229
@wilson29thid use this:
[code]

[2015-01-18 22:50] swomma commented on #227
All permissions added

[2015-01-18 22:50] #227 closed

[2015-01-18 23:03] #189 closed

[2015-01-18 23:06] swomma opened #231 "Feature: Rewrite gameserver updating scripts"
Scripts that update the list of members / their ranks and assignments on game servers need to be rewritten to work with new personnel system

[2015-01-18 23:33] swomma commented on #218
Positions added to QM and Finances Corps

[2015-01-18 23:46] Browning29th opened #232 "Markdown is impractical"
-

[2015-01-19 11:40] swomma opened #233 "Bug: Missing icon for Honorably Discharged Badge"
We are missing images for that badge as you can see in http://personnel.29th.org/#members/248/servicerecord. We could either add it or remove that awarding.

[2015-01-19 12:20] JHill29th commented on #225
Still not working correctly.  Look here:  http://forums.29th.org/discussion/392/slt-progress-and-graduates
Formatted in almost entirely BBCode.  All but the header which I did in html as the markdown ### didn't work.

[2015-01-19 13:45] #232 closed

[2015-01-19 15:04] JHill29th commented on #225
@wilson29thid
http://forums.29th.org/discussion/672/frago#latest
This discussion won't accept markdown...

[2015-01-19 15:39] JHill29th opened #234 "[Feature Request] Ability to create folders to organize messages"
A feature like the Labels system on the old forums for saving and organizing personal messages.

[2015-01-19 16:21] Browning29th commented on #208
T/5 Minor, Could you split your issues up in to separate git hub posts. It's much harder to work through them when they are all mixed together and it's not clear what is fixed and what is not.

[2015-01-19 16:23] Browning29th commented on #209
Done

[2015-01-19 16:23] #209 closed

[2015-01-19 16:24] Browning29th commented on #212
Done

[2015-01-19 16:24] #212 closed

[2015-01-19 16:24] Browning29th commented on #218
What are the remaining issues here?

[2015-01-19 16:28] JHill29th opened #235 "[Feature Request] Private Message Read Receipt"
Instead of asking members to respond to a private message with 'understood', a read receipt plugin would serve better.
[Who Read the Conversation Plugin](http://vanillaforums.org/addon/whoreadconversation-plugin)

[2015-01-19 16:31] MarkMinor commented on #208
Understood Sir.

[2015-01-19 16:35] MarkMinor opened #236 "Bug Report: Lacking permissions."
I am unable to access saying I have a permission problem.

http://forums.29th.org/discussion/511/promotion-and-badge-format#latest

[2015-01-19 16:48] swomma commented on #236
@Browning29th Same for me. Judging by the topic of that it should be moved to Clerk Offices

[2015-01-19 16:50] Browning29th commented on #236
I am unable to move posts and my current understanding is that your permissions are correct and you should not see this. I will post the contents of the post below in case you wish to post it elsewhere.

[2015-01-19 16:50] Browning29th commented on #236
<h1 style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; box-sizing: border-box; margin: 10px 0px; color: rgb(95, 118, 118); text-align: center;"><img src="http://29th.org/ForumPostImages/29thsealheaderblack_lightened.png" alt="image" style="box-sizing: border-box; border: 0px; vertical-align: middle; display: bloc

[2015-01-19 16:50] Browning29th commented on #236
<font face="Arial, Verdana"><span style="font-size: 10pt; line-height: normal;">More:</span></font><div><img src="http://29th.org/forums/Smileys/default/m.armor.gif" style="line-height: 1.7em;"><img src="http://29th.org/forums/Smileys/default/s.armor.gif" style="line-height: 1.7em;"><img src="http://29th.org/forums/Smileys/default/e.armor.gif" style="line-height: 1.7em;"><img src="http://29th.org/

[2015-01-19 16:51] MarkMinor opened #237 "Bug Report: Coding not working"
Ever since the Markdown, the new coding for displaying images does not work and I must still use the older coding protocols.

The center commands also seem to be failing for images as well.

http://forums.29th.org/discussion/560/three-years-of-service-caeser-a-redd#latest

http://forums.29th.org/discussion/602/badges-jesse-d-hodgson#latest

I only have gotten one forum page partially right.

http:

[2015-01-19 16:51] swomma commented on #218
Issue left:

*Need the following sub forum:*
*Attendance Adjutant*

[2015-01-19 16:52] Browning29th commented on #235
I'm not against such a feature at all, but does anyone not read PMs?
I always assume PMs are read if the person has been online since they where posted.

[2015-01-19 16:55] swomma commented on #237
You can find some remedy in http://forums.29th.org/discussion/243/clerk-discussion-thread for posting centered images, using HTML. It is not perfect but will have to do for now

[2015-01-19 17:07] JHill29th opened #238 "[Feature Request] Polls"
Add ability to create a poll in a discussion.
[Discussion Polls](http://vanillaforums.org/addon/discussionpolls-plugin)

[2015-01-19 17:14] JHill29th commented on #235
@Browning29th

I used to do that and they should be but, sadly, not always the case. With the lack of a 'Marked Understood' feature this would be a nice feature to monitor activity.

[2015-01-19 17:42] #237 closed

[2015-01-19 18:03] MarkMinor opened #239 "Delete This"
Whoops

[2015-01-19 18:40] #239 closed

[2015-01-19 19:00] Turczyn29thID commented on #235
Please remember the demographics of most of our member base especially in light that our minimum age is 15.  It is hard enough to get my son and daughters to take out the trash or get the mail without constant reminders.  So I second this request.

[2015-01-19 20:02] Turczyn29thID opened #240 "Suggestion: Make PMs true PMs - Return to a old forum PM system/Inbox"
Currently messaging works like a forum discussion and not like the old forum PM system.
I have found that creating a distribution list of recipients there are those that want to give a personal opinion will not, given that the discussion is open to all to view.  They need to resort to creating a new message.
This system also creates a lot of spam emails when replies are given such as "understood"

[2015-01-19 21:21] JHill29th commented on #97
I think what @Turczyn29thID is mentioning here is the discrepancy that occurred when a discharged member came back to the unit. The enlisted time keeps counting throughout the discharge and after being put back on the roster there would appear many AOCCs due and the exact service time had to be calculated in order to determine the appropriate anniversary date to apply the AOCC.

[2015-01-19 21:23] Langtord opened #241 "Suggestion: Add a statistic page for attendance"
For the Attendance Adjutant it would be vital to have a page which shows the % of attendance like it used to be on the old forums: http://29th.org/personnel/stats/?company=Baker;platoon=1;squad=;#attendance

I do not see anything like this currently which makes their job way harder as they would have to do the math by themselves with the help of the Calendar. Can it be added or is it too complicat

[2015-01-19 21:48] swomma commented on #241
Already in issues: #3 and #4

[2015-01-19 21:48] #241 closed

[2015-01-19 22:01] swomma commented on #97
Actually that is no longer needed since Time of Service is calculated based on actual assignments so no additional notes are required. There are some discrepancies due to past changes and different systems used but I fix them to have all members have correct ToS.

[2015-01-20 00:02] JHill29th opened #242 "[Bug] Inability to post LOA within 24hrs after drill (GMT)"
PFC Leech is in GMT zone and can not see the LOA button for the CP2 Platoon drill or Charlie Company Drill. I can see the button and others in EST can see the button. At the time of this post (7pm EST) he should still be able to see the CP2 platoon drill and the Charlie Company drill LOA buttons.

[CP2S1 Drill](http://personnel.29th.org/#events/15234)
[CP2 Drill](http://personnel.29th.org/#events/

[2015-01-20 01:45] crowbarr66 opened #243 "Steam Login"
Unable to join the new forums (edit profile). Having problem logging
 in through Steam (Invalid Login).

[2015-01-20 03:21] JHill29th opened #244 "[Bug] Personnel. AWOLs tab opens blank"
http://personnel.29th.org/#units/Charlie/awols

[2015-01-20 07:11] swomma commented on #244
@wilson29thid #186 has returned

[2015-01-20 10:41] wilson29thid commented on #243
Can you take a screenshot of the error? Sounds like you may have the wrong Steam username/password.

[2015-01-20 10:43] wilson29thid commented on #240
Hm, seems like the default is "Reply-all" and we need a regular "Reply" button. I'll have to research the Vanilla forums to see if there's any discussion about it. Seems beyond my plugin capability at the moment but I agree it would add value.

[2015-01-20 10:45] wilson29thid commented on #238
Hi FSgt, should be simple enough assuming the plugin still works, but can you provide a use case to help me understand the need?

[2015-01-20 10:51] swomma commented on #208
Unresolved issues in new threads

[2015-01-20 10:51] #208 closed

[2015-01-20 10:52] #244 closed

[2015-01-20 10:57] swomma commented on #236
Post moved to Clerk Offices

[2015-01-20 10:57] #236 closed

[2015-01-20 11:12] MarkHartley opened #245 "Service time"
Strange on the old forums my service time is over four years which is correct on the new forums its 3 years 10 months which is wrong, seems i have lost 3 months somewhere,...anyone else have this issue...and is there a solution?

[2015-01-20 11:18] wilson29thid commented on #245
The new system actually calculates each of your assignments, and would take into account if you'd left the unit for any time. Have you? Here's what our records show of your assignments. @swomma does this look like anything's missing to you?

[code]

[2015-01-20 11:23] MarkHartley commented on #245
Arh you maybe right Col..will check up on that...

[2015-01-20 11:41] #242 closed

[2015-01-20 11:41] wilson29thid commented on #242
I believe I've fixed this. Of course I can't check as I'm in EST. @swomma will confirm in a couple hours with one of his drills as he's in CST.

[2015-01-20 11:48] swomma commented on #245
@wilson29thid @MarkHartley actually 3 months is exactly the period of time that should be missing: from HD on 2012-03-11 to re-enlistment on 2012-06-11

[2015-01-20 11:48] #245 closed

[2015-01-20 11:55] #222 closed

[2015-01-20 11:59] wilson29thid commented on #235
Do you think this would be necessary if #240 were implemented? Or vise versa, do you think #240 would be necessary if this were implemented?

[2015-01-20 12:02] wilson29thid commented on #233
I'm not sure we actually award that to anyone anymore. But we can add it if we can track down the badge image

[2015-01-20 12:02] #233 closed

[2015-01-20 12:28] #200 closed

[2015-01-20 12:28] Turczyn29thID commented on #97
Yes this was mainly focused towards being able to enter information for discharges.
This might be beneficial towards being able to add text to a members ToD that can not be directly captured in a standard posting.  i.e. some item of note such as praise or training progress.  Some of these things could be captured in a "Notes" area similar to the old forum, though that is not present currently and

[2015-01-20 12:28] wilson29thid commented on #217
Ping! #200 is fixed

[2015-01-20 12:29] wilson29thid commented on #231
This was just DH right?

[2015-01-20 12:32] swomma commented on #231
For now it is just DH but I remember @xleveille saying we could do the same for RS

[2015-01-20 12:53] swomma commented on #233
For future reference: If old members with that badge re-enlists add discharge record and remove that awardings record

[2015-01-20 13:21] JHill29th commented on #235
I'm not sure about @Turczyn29thID  but I would find the read receipt very useful in any case. I think #240 is needed more urgently and should be implemented regardless of this one.

[2015-01-20 13:24] JHill29th opened #246 "[Bug] Personnel API - Event will not delete."
I'm trying to delete an event but it seems as nothing happens after I confirm to delete.
http://api.29th.org/index.php/admin/events/delete/15265

[2015-01-20 13:34] JHill29th opened #247 "[Feature Request] "Remove All" button for Notifications page"
A button to remove all notifications from this page would be handy.
http://forums.29th.org/profile/notifications

[2015-01-20 13:48] Dashwood29thID opened #248 "Personnel issue: Pvt. Antoine"
Posting on behalf of the Pvt.:

Antoine has only recently signed up to the new forum. His account name is Rec. Suenen. This is the name he previously used but has now changed it to Antoine (which is the name that appears on the roster in BP2S2). He has associated his account under Rec. Suenen and not Pvt. Antoine.

What does he need to do to have this issue fixed?

[2015-01-20 15:31] swomma commented on #246
@wilson29thid It is due to DB constrains between `events` and `attendance`. Do you want me to change it to ```ON DELETE CASCADE ``` ?

[2015-01-20 15:36] swomma commented on #248
His personnel account doesn't seem to be associated with any forums account. When he will associate them, the name of forums account will automatically change to Pvt. Antoine

[2015-01-20 15:36] #248 closed

[2015-01-20 19:12] JHill29th opened #249 "[Bug] <code></code> does not work."
See last post <a href="http://forums.29th.org/discussion/594/test#latest">here</a>

[2015-01-20 19:44] swomma opened #250 "Feature: Add demerits to Service Record"
Add disciplinary demerits received by the soldier to his/her Service Record

[2015-01-20 19:46] swomma opened #251 "Suggestion: Modify ToS for GDed"
In case of people Generally Discharged Time of Service should be counted from enlistment AFTER the last General Discharge. That way we won't have to remove their previous assignments but their Time of Service would be correct.

[2015-01-20 23:18] JHill29th commented on #238
I can't remember who asked me about the polls... might have been @Turczyn29thID or TSgt. Balzer

As seen in this <a href="http://forums.29th.org/discussion/272/drill-times#latest">CP2S1 post regarding changing drill times</a>. A poll would have been a much cleaner way of offering and correlating the data.

[2015-01-20 23:49] Tuomainen commented on #251
But in case of GD, the record should be cleaned.

[2015-01-20 23:52] Tuomainen commented on #249
Seems to be working for me FSgt. @JHill29th

[2015-01-21 00:12] JHill29th commented on #249
@Tuomainen Not in for what I posted.
http://forums.29th.org/discussion/comment/793/#Comment_793

[2015-01-21 00:21] Tuomainen commented on #249
That is indeed interesting FSgt o_O

[2015-01-21 02:02] crowbarr66 commented on #243
Problem solved sir. Simply put, I just changed my name and it worked. I thank you for your prompt response sir.

[2015-01-21 02:14] Langtord commented on #109
Is there also a solution for the Enlistment Liaisons regarding the notes?

[2015-01-21 02:17] Langtord opened #252 "Feature Request: A way to see duplicate lastnames"
A feature where the enlistment cannot be created with a duplicate name (HD's taken into account) would be perfect to help out both the Enlistment Liaisons and the recruits when they are enlisting.

[2015-01-21 05:01] Browning29th commented on #218
Done

[2015-01-21 05:01] #218 closed

[2015-01-21 10:41] wilson29thid commented on #243
No problem

[2015-01-21 10:41] #243 closed

[2015-01-21 10:42] wilson29thid commented on #246
Yes please @swomma

[2015-01-21 10:46] wilson29thid commented on #249
The proper way to do `<code>` type tags in Markdown is by using the ``` wrapper, ie. ``test <b>bold</b>``. Have you tried that?

[2015-01-21 10:51] wilson29thid commented on #251
This is something I'd like to discuss - both duration of service and the service record, itself. It just feels so anti record-keeping to wipe a record clean when someone's GD'd. In fact we don't do it when they're GD'd; we do it when they return (or at least did in the old system).

How can we keep the records but some how keep a general discharge less appealing than an honorable discharge?

[2015-01-21 10:56] swomma commented on #246
[code]

[2015-01-21 10:56] #246 closed

[2015-01-21 10:58] wilson29thid commented on #195
Actually I did mean all in one single board. I can't picture how it will be a mess - we don't separate promotions from awards...you really think it would be?

[2015-01-21 11:05] wilson29thid commented on #174
@Turczyn29thID sorry for the delay and thanks for the visualization. The more I think about it, the more I think using doodle.com might make the most sense for this -- it's free, and they already have the functionality you painted above. Perhaps it's just a matter of spreading the word?

[2015-01-21 11:06] wilson29thid commented on #205
Sorry, you're right. Resolved per #242

[2015-01-21 11:06] #205 closed

[2015-01-21 11:09] wilson29thid commented on #201
Sold. @swomma can you change it in the `positions` table? I'd do it myself but I'm pretty sure we also have to change the default `position` in the `assignments` table and wasn't sure if that was text?

Also just an FYI for @Wheatles29

[2015-01-21 11:10] wilson29thid commented on #215
@johnsen29th are all the immediate issues posted as github issues? Do you feel the priorities for them are all reflected accurately? I'm not aware of "immediate" or critical issues pertaining to enlistments.

[2015-01-21 11:13] wilson29thid commented on #221
Not sure how we'd do that. Would a [tinyurl](tinyurl.com) suffice? You can set a custom URL. But my point about it being shareable after still stands. That's up to you guys.

[2015-01-21 11:14] #97 closed

[2015-01-21 11:16] wilson29thid commented on #238
Actually, have you seen #174? A doodle would probably be far more effective at picking the best drill time than a basic poll

[2015-01-21 11:17] wilson29thid commented on #109
@Langtord the current permission system wouldn't really support it except for active recruits.

[2015-01-21 11:24] johnsen29th commented on #215
@wilson29thid I was referring to hiring new staff, retraining old staff and writing new instructions, not technical ones. #125 deserves some attention in my opinion, though.

[2015-01-21 11:53] swomma commented on #201
@wilson29thid Changed in DB. In `assignments` field `position` has no default (it's just text for pre-migration entries, not used in new assignments) and `position_id` field has correct default

[2015-01-21 11:53] #201 closed

[2015-01-21 12:05] #250 closed

[2015-01-21 14:21] Dashwood29thID commented on #251
Would it be possible to have the record remain in the ToD but not have the medal/rank/badge appear on the persons coat? That way we have a record of the individuals previous achievements but due to his GD he would lose the right to display them.

For all intents and purposes they would have to re-accomplish them to earn the right to display them again. There would be no need to do this for an HD a

[2015-01-21 14:35] JHill29th commented on #249
@wilson29thid I understand the various was to do the code block in markdaown but I thought html was supposed to work also.  Perhaps the html `<code></code>` doesn't work properly when trying to block out markdown inside.

the `<code></code>` worked fine in this post  http://forums.29th.org/discussion/37/ait-approval-first-platoon#latest

[2015-01-21 14:45] JHill29th opened #253 "[Bug] Enter key doesn't always create a line break"
http://forums.29th.org/discussion/68/test-posting-thread/p3

Look for the post with

Edit the post and see...

[2015-01-21 15:07] JHill29th commented on #238
@wilson29thid Doodle may be more effective, I'll grant that but, a poll serves the same purpose effectively enough and no third party site is required. I believe @Turczyn29thID added the graph because there was no easy way to visualize the data; a poll would have done so. No extra work from the Lt. and no third party site required.

[2015-01-21 15:56] Campbell29th opened #254 "Finance Office issues"
The following jobs need access to add/delete/edit finance records in the personnel system.

Chief of Finance
Assistant Chief Finance Officer
Finance Officer
Finance Clerk

PS we need this to start recording donations.

[2015-01-21 16:06] swomma commented on #254
Abilities added to Finance Corps

[2015-01-21 16:06] #254 closed

[2015-01-21 16:10] swomma commented on #251
@wilson29thid for awardings we could add a field `active` with default value `true`. If someone re-enlists after GD we could set activity to 0 - that wasy awards on Service Record could be grayed out or not showed at all and not taken into account when generating service coat. As for Time of Service vs old assignments it seems pretty simple to ignore them. Rest of entries in SR could just stay

[2015-01-21 18:57] JHill29th commented on #253
Command | Example | Description
--- | --- | ---
`#vote missions` | . | Users can vote for the mission selection.
`#vote missions <name>` | `#vote mission my_mission.altis` |
Users can vote on a particular mission to be loaded.
`#vote admin <name/ID/Player No.>` | `#vote admin Rizzo` or `#vote admin 123456789` | Users can vote an admin to control the server.
`#vote kick <name/ID or Player No.>` | `

[2015-01-21 19:56] JHill29th commented on #249
[code]

[2015-01-21 19:59] JHill29th commented on #249
<code>
[code]
</code>

[2015-01-21 20:09] JHill29th opened #255 "[Bug] Blocks of code fenced by lines with three back-ticks ``` does not work"
http://forums.29th.org/discussion/758/platoon-report-format#latest - see first post.

[2015-01-21 20:19] JHill29th commented on #253
Well I think I figured it out.
In the post cited in my OP if I edit it and add two trailing spaces after each word it creates the line break.

[2015-01-22 00:24] Browning29th opened #256 "AoOC Alert needed"
Platoon HQs/Clerks need some way to be alerted when someone in the platoon needs to be granted an AOoC.
It is difficult to award them atm

[2015-01-22 00:41] swomma opened #257 "Suggestion: Fill descriptions in abilities"
@wilson29thid Fill all descriptions in `abilities` table

[2015-01-22 02:23] Walker29th opened #258 "Permissions Issue: Walker - API"
For some reason, I cannot use the api link anymore as it gives permission denied. Not sure if this is due to the last time I mitigated over as that killed all my forum permissions too. Means cannot use the personnel system to transfer or discharge. Could this be remedied?

[2015-01-22 06:11] JHill29th commented on #222
@wilson29thid This is partially fix except for long posts. The window only scrolls so far preventing the preview of the entire post.

[2015-01-22 08:27] swomma commented on #258
@Walker29th It should be better now. What api link exactly were you using that stopped working?

[2015-01-22 08:29] swomma commented on #256
@wilson29thid I think it should be done together with #118

[2015-01-22 16:33] Browning29th commented on #253
I'd very much prefer auto line breaks

[2015-01-23 00:57] Walker29th commented on #258
Worse. Administrator and Battalion Leadership were removed from forum permissions. api.29th.org/admin still is not working. I do not know why permissions are being removed. They are to be added. This needs fixed immediately as I have a lot of jobs to complete and this is stopping a great deal of staff work.

[2015-01-23 00:57] Tuomainen opened #259 "Bug: Table formatting going outside of the box"
Example here: http://forums.29th.org/discussion/867/unruly-pubber-thread

[2015-01-23 02:31] JHill29th commented on #249
#255

[2015-01-23 10:42] wilson29thid commented on #259
Have you tried using [Markdown](http://assemble.io/docs/Cheatsheet-Markdown.html#tables) to create the tables?

[2015-01-23 12:25] JHill29th commented on #255
I figured it out...
Fencing the block with lines containing equal number of tilde characters works to block code.
~~
<center>test</center>
~~

[2015-01-23 12:34] JHill29th commented on #259
@Tuomainen
I have to admit, the markdown tables are really easy to use, much easier than html.

[2015-01-23 12:36] JHill29th commented on #253
@Browning29th @wilson29thid
I would as well.

[2015-01-23 13:24] swomma opened #260 "Bug: Member assigned only to Staff class unit can't see Service Records"
2Lt. Campbell wasn't able to view any service record (including his own). Problem is caused by api/demerits returning 403 - Forbidden for people without assignment to Combat class unit.
As a temporary remedy I have assigned 2Lt to Dog HQ.

Note: Don't close that without deleting 2Lt.'s assignment to Dog HQ!

[2015-01-23 17:57] egelund29th opened #261 "Cpl. Meyberg permissions"
Cpl. Meyberg can't start a new topic in 'Promotions and Awards'. All Finance Officers need the ability to do this, to post donations.

[2015-01-23 17:59] egelund29th opened #262 "Request: Ability to see total amount donated on Personnel File"
Finance Officers need this feature, like we had on the old forums, so we are able to post up their total amount in donation threads.

[2015-01-24 01:09] Walker29th commented on #258
Please get this marked to Urgent. It needs fixed ASAP.

[2015-01-24 01:10] Walker29th commented on #258
Seems some items were fixed. I will check through them to see what all works.

[2015-01-24 08:28] Tuomainen commented on #259
Thank you @wilson29thid  & @JHill29th , that was incredibly useful to learn! Though I tried it prior and some reason couldn't get it working before bringing over the old table format to the new forums but works now at least.

[2015-01-24 09:16] swomma commented on #258
Some problems were caused by you not being assigned to a Combat class unit. To remedy that I have temporarily added you to Dog HQ, same as 2Lt. Campbell untill that problem is resolved.

[2015-01-24 09:26] swomma opened #263 "Forums: Quartermasters Corps permissions"
Quartermasters Corps are missing their forum group and permissions to "Quartermasters Office".
Also - what personnel permissions should the be assigned?

[2015-01-24 13:45] JHill29th opened #264 "[Bug] Markdown link code doesn't accept url with a space"
`![Message Pvt. Robles](http://forums.29th.org/messages/add/Pvt. Robles)`

Example: http://forums.29th.org/discussion/752/enlistment-rec-fry#latest

[2015-01-24 14:41] swomma commented on #264
@JHill29th Use "%20" instead of space

[2015-01-24 17:04] yopuii commented on #263
I'm unsure about Personnel System permissions they'd need. I think none TBH. The only thing we'd remotely need on Personnel is Awardings, but that's clerk territory anyways, not QM so I'd rather we just get our forum permissions sorted. I may need to ask my guys specifically what their accesses are if y'all need more details to fulfill this.

[2015-01-24 17:08] yopuii opened #265 "Feature Request: Weapons Passes on Personnel System"
It'd be very convenient for Weapon's Passes to be a feature on the Personnel System similar to how they were previously on the old Personnel system. (If there already is then I'm lacking the Personnel accesses/permissions to edit/create them. I also can't view them if and they'd need to be publicly viewable as well ofc)

Until then I can think of a manual system for dealing with Weapon's Passes to

[2015-01-24 20:15] JHill29th commented on #264
@swomma
I tried that already. Does not work.

[2015-01-25 00:25] Tuomainen opened #266 "Feature Request: Board Subscription"
Is there a possibility to add a such feature where you would get notified when there is a new post in a board you have subscribed/starred? Unless of course #193 is implemented. Although besides adding 193, I think the child board should get highlighted or bolded or something, when there is a new post.

[2015-01-25 00:29] Patty29th opened #267 "Request: Signal Office needs child Boards"
http://forums.29th.org/discussion/333/what-boards-would-you-like#latest

[2015-01-25 00:31] Patty29th opened #268 "Request: Baker's BEST"
Baker needs a child board called 'BEST' for the Baker Extended Squad Tournament.

[2015-01-25 03:04] PFCVeld commented on #240
To comment on this as well, the PM system does not provide a Subject for the PM and a option to BCC it to other people.

[2015-01-25 09:51] Browning29th commented on #266
http://forums.29th.org/profile/preferences

Are these notification settings not enough?

[2015-01-25 14:51] wilson29thid commented on #264
The `%20` works fine for me: `[Send a Private Message](http://forums.29th.org/messages/add/Pvt.%20Gillespie)` - i just edited the post. Can you try copying & pasting?

[2015-01-25 14:53] wilson29thid commented on #265
Duplicate of #29

In the meantime, the process is [laid out here](http://29th.org/wiki/index.php?title=Personnel_v2#Weapon_Passes) -- let me know if that won't hold us over

[2015-01-25 14:53] #265 closed

[2015-01-25 14:54] wilson29thid commented on #266
Pretty sure that's exactly what he's looking for. TMan, re-open if that's not the case

[2015-01-25 14:56] wilson29thid commented on #258
@swomma this sounds like there are `class_permissions` and `class_roles` that exist for `Combat` that need to exist for `Staff` as well -- can you see if that's the case?

[2015-01-25 14:57] wilson29thid commented on #259
Sure thing

[2015-01-25 14:57] #259 closed

[2015-01-25 14:58] wilson29thid commented on #256
@swomma, you're working on this right?

[2015-01-25 15:00] wilson29thid commented on #260
@swomma this sounds like there are `class_permissions` and `class_roles` that exist for `Combat` that need to exist for `Staff` as well -- can you see if that's the case?

[2015-01-25 15:00] wilson29thid commented on #258
Let's merge this with #260

[2015-01-25 15:00] #258 closed

[2015-01-25 15:01] wilson29thid commented on #260
Let's make sure we unassign Cpt. Walker from Dog Company when this is resolved

[2015-01-25 15:03] wilson29thid commented on #263
Wasn't this resolved by #218?

[2015-01-25 15:04] #255 closed

[2015-01-25 15:06] wilson29thid commented on #253
Same here. I read on Vanilla forums that they made a modification to Markdown to allow this, and I swear the last time we had Markdown in place it allowed single line breaks...going to have to do some digging on the vanilla forums

[2015-01-25 15:10] wilson29thid commented on #249
The code I pasted above should work in any new post. Is this still an issue?

[2015-01-25 15:13] wilson29thid commented on #251
@Dashwood29thID I like your idea. @swomma that would work. I'm wondering, though, is there a more elegant way of doing it based on `assignments` or `discharges` so we don't have to mark `awardings` inactive? So if you generally/dishonourably discharge someone, future coat updates just don't include anything prior to that date?

[2015-01-25 15:23] wilson29thid commented on #238
One advantage of doodle though is that you can see *who* is available when -- if you're planning squad drills and the squad leader can't make a time but mostly everyone else can, you're more likely to pick another time than if the one outlier was a freshly assigned BCT grad.

But having said that, I've implemented the polls plugin. Let me know if there are any issues with it.

[2015-01-25 15:23] #238 closed

[2015-01-25 15:29] wilson29thid commented on #253
Fixed!

[2015-01-25 15:29] #253 closed

[2015-01-25 17:47] JHill29th commented on #264
Well, would you look at that; it's working now... odd.

[2015-01-25 17:52] JHill29th commented on #253
@wilson29thid Fixed for comments and discussions but not for messages.

[2015-01-26 00:10] #264 closed

[2015-01-26 00:23] swomma commented on #263
Nope. We are still missing forum roles: Quartermaster Member, Quartermaster HQ

[2015-01-26 00:28] swomma commented on #261
Since it is high-priority I've added the permissions for Finance Members to post in Promotions and Awards

[2015-01-26 00:28] #261 closed

[2015-01-26 00:34] Tuomainen commented on #266
No sirs @Browning29th @wilson29thid , what I'm looking for is a notification when a new topic is posted for a child board I'm subscribed.

For example when there is a new topic in one of these child boards:
http://forums.29th.org/categories/ap1-platoon-headquarters
http://forums.29th.org/categories/ap1s1
http://forums.29th.org/categories/training-platoons
http://forums.29th.org/categories/recruitm

[2015-01-26 12:47] swomma commented on #251
@wilson29thid it could be done - getting from date of the last GD/DD `discharges` so:
 * coat updater would take only awards awarded after that date (if, as I remember, coat update is run only on awardings and promotions - otherwise GD itself would strip of all awards, but would give it back if GD was changed to HD)
 * Time of Service would take into account only assignments after that date
 * Tem

[2015-01-26 12:56] swomma commented on #260
@wilson29thid It seems it was `class_permissons`. I've added `view_demerits` and `view_finances` for Staff.
Waiting for feedback from 2Lt.

[2015-01-26 16:09] swomma commented on #260
@Campbell29th reports this bug solved for him.

[2015-01-26 16:09] #260 closed

[2015-01-26 17:50] Walker29th opened #269 "Request: Ordnance Office Roles/Permissions"
I need the positions of Chief of Ordnance Office created with Elevated permissions in the Ordnance board. Also need new job position of Ordnance Corpsman created for basic staff positions without elevated status. PFC Moe cannot be assigned Chief title as it does not exist in the database.

[2015-01-26 19:05] swomma commented on #269
Positions created

[2015-01-26 19:05] #269 closed

[2015-01-27 00:56] Browning29th commented on #268
done

[2015-01-27 00:56] #268 closed

[2015-01-27 05:21] SgtPinckney opened #270 "Can't post in battalion support staff"
I can not post in the battalion support staff area of the forums. I tried posting a new discussion for jobs within the engineer office just to be denied the ability to post.
-Sgt. Pinckney

[2015-01-27 05:29] Walker29th commented on #9
Problem with this is that there is a reservist board in which all reservist must keep monthly activity reports to keep them accountable as staff only positions. We'd still need reserves for this function.

[2015-01-27 05:40] Walker29th commented on #270
Rseolved

[2015-01-27 11:26] Tuomainen opened #271 "Suggestion: Clicking forum topic should not bring to the latest post"
Tiny, low priority fix which I'd like to see:

Let's say I'm looking at this board:
http://forums.29th.org/categories/ap1-platoon-headquarters

And I want to go to the AAR format - after clicking the topic it will bring me here: http://forums.29th.org/discussion/255/after-action-report-aar-format#latest
instead of where I wanted to land, here:
http://forums.29th.org/discussion/255/after-action-rep

[2015-01-27 13:56] wilson29thid commented on #266
I'm confused - when you say notification, I interpret that as an item in your inbox at the top-right of the screen... if you're referring to it simply showing the word "New" on the subforum, that's covered by #193

[2015-01-27 13:59] wilson29thid commented on #271
It goes to the latest that you haven't seen. If you've never viewed the thread, it will take you to the original post. If you have, it will take you to the latest reply that you haven't seen. If you want to go directly to the original post even if you've already read it, just click the date below the person's name in the "Started By" column.

[2015-01-27 13:59] #271 closed

[2015-01-27 13:59] wilson29thid commented on #263
@Browning29th can you weigh in on this?

[2015-01-27 16:06] Tuomainen commented on #271
OH SNAP! BEAUTIFUL! Thank you Lt. Col. @wilson29thid !

[2015-01-27 20:23] PFCMoe opened #272 "Ordnance office on the teamspeak."
I would like to request a channel for the ordnance office to be made on our teamspeak.

[2015-01-27 22:01] swomma commented on #272
Channel created

[2015-01-27 22:01] #272 closed

[2015-01-28 10:50] Browning29th commented on #270
@SgtPinckney Your permissions do appear to allow you to post there. Can you give me some more details?
Any ideas @swomma

[2015-01-28 10:55] wilson29thid commented on #231
Do we have any UnrealScript developers who can help with this? I can give direction.

[2015-01-28 10:56] Browning29th commented on #263
Done. I'll leave this open a while in case there are issues.

[2015-01-28 10:57] swomma commented on #270
As far as I see @SgtPinckney should be able to post there. Sgt, when you're on SF I could try to assist you checking it again

[2015-01-28 11:03] swomma commented on #263
Also I reassigned members of QM so that they get their forums QM permissions

[2015-01-28 11:19] JHill29th commented on #249
@wilson29thid , Does not work here:  http://forums.29th.org/discussion/594/test#latest

[2015-01-28 19:16] PFCMoe opened #273 "Password for the Ordnance office."
So ordnance office had a channel created for it in Teamspeak, but I was not informed of the password. If this could be sent to me in a pm on the forums, that would be great.

[2015-01-28 19:41] SgtPinckney commented on #270
I can post, thank you gentleman.

[2015-01-28 19:41] #270 closed

[2015-01-28 21:28] PFCMoe commented on #273
solved

[2015-01-28 21:28] #273 closed

[2015-01-29 04:37] JHill29th opened #274 "[Feature Request] Signal Office: Public, Child boards for RS, DH , and A3; Unit Relations"
One public child board for each; RS, DH, and Arma.

[2015-01-29 04:42] JHill29th commented on #274
Oops, I guess this was opened 4 days ago as #267 .  Very good then, I see @Browning29th has assigned himself to the task.

[2015-01-29 04:47] JHill29th opened #275 "[Bug] Single line breaks do not work in messages."
Try to enact a single line break within a message. Only works using two trailing spaces prior to return.

[2015-01-29 05:00] JHill29th commented on #238
@wilson29thid , Thanks LTC! I'll let you know if I have any issues with the plugin.

[2015-01-29 08:31] swomma commented on #274
Duplicate of #267.

[2015-01-29 08:31] #274 closed

[2015-01-29 10:41] wilson29thid commented on #275
Oh PMs!

[2015-01-29 11:09] #166 closed

[2015-01-29 13:31] swomma commented on #263
All issues resolved

[2015-01-29 13:31] #263 closed

[2015-01-29 18:39] JHill29th commented on #267
Signal office needs three public child boards added as a sub of [Signals Public Relations](http://forums.29th.org/categories/public-relations).

* [Public Relations] Arma 3
* [Public Relations] Darkest Hour
* [Public Relations] RS/RO2

[2015-01-31 04:22] Walker29th opened #276 "Service Record - PFC McManus"
Processed a re-enlistment for PFC McManus into the reserves but somehow his service record only shows his enlist date, transfer into reserives and his rank change.

http://personnel.29th.org/#members/84882/servicerecord

Says he did the mitigation and the account was processed when he clicks the link.

[2015-01-31 09:04] swomma commented on #276
It would all be much simplier for him had he not enlisted under new id but the old one : http://personnel.29th.org/#members/9305/servicerecord
I wil try to merge them together today

[2015-01-31 13:06] Campbell29th opened #277 "Functionality to revert AWOLs"
I need permissions to be able to excuse people from AWOLS and to change attendance where needs be.

[2015-01-31 13:27] swomma commented on #276
PFC McManus's service record is fixed and he's back at his old ID in http://personnel.29th.org/#members/9305
@Walker29th : Only problem is with his GD from 2013-07-03 - it hasn't been overturned but it doesn't seem to bring any consequences. Should I remove it?

[2015-01-31 16:22] raddish29th opened #278 "Lost Forum Permissions"
I tried to change my e-mail address and it seems it made me lose all my permissions for the forum.

I tried to re-associate but it did not work.

Can I get all of my permissions back?

[2015-01-31 18:21] swomma commented on #278
@raddish29th there you go

[2015-01-31 18:21] #278 closed

[2015-01-31 19:05] raddish29th commented on #278
Can I get the dashboard access as well please?

[2015-02-02 00:24] wilson29thid opened #279 "Automate database restarts"
Today the MySQL server stopped, probably ran out of memory or something. Supervisord can probably automate its restarting. Perhaps apache has something built in too.

[2015-02-02 08:41] JHill29th commented on #235
@wilson29thid Can we give this plugin a try?

[2015-02-02 10:46] wilson29thid commented on #277
Hm, the new system works a bit differently than the old one did -- can you give me an example of when you'd need to do this?

[2015-02-02 10:50] wilson29thid commented on #276
It's associated with [this forum post](http://29th.org/forums/index.php?topic=1017) which appears to have been deleted.

Btw, @swomma, I imagine this will happen again -- what McManus *should* have done was sign up on the new forums, login via steam, and associate his account, and *then* re-enlist. I can't imagine anyone not currently in the unit knowing to do that :P Perhaps it would be handy to

[2015-02-02 10:53] wilson29thid commented on #267
Just checking in here, wonering if @Browning29th may have completed this and simply not closed the issue, as I see a Public Relations board with topics instead of 3 child boards.

[2015-02-02 11:52] wilson29thid commented on #275
Resolved! And it works on preview now too.

[2015-02-02 11:52] #275 closed

[2015-02-02 13:20] #20 closed

[2015-02-02 14:17] Campbell29th commented on #277
For example recent need from BP2 Lt. Col. was that a certain Pvt. had no internet for 2 days hence it was impossible for him to post absences. His CO HQ came forward to remove his AWOLs and pardon him for such circumstances.

[2015-02-02 16:37] JHill29th opened #280 "[Bug] Forum Personnel/Calendar - Admin Tab hidden by month/week/day buttons"
The Admin tab is hidden below other buttons.

[2015-02-02 16:39] JHill29th opened #281 "[Bug] Forum Personnel/calendar - Add Event form missing Option"
The add event form is missing the option to make the event mandatory or non-mandatory.

[2015-02-02 16:47] JHill29th opened #282 "[Bug] Forum Personnel/Clendar - Refreshing the page causes error (Firefox)"
Clicking the refresh button in the URL bar causes the calendar page to load blank.  Forum header is still present. Clicking Personnel then Calendar does not reload the page.  To get the calendar back you must navigate to a different page then back.

Page source data
[code]

[2015-02-02 17:00] JHill29th opened #283 "[Critical Bug] Personnel API - Add Record "Save" action causes browser to go unresponsive (firefox)"
Events -> add record -> fill out data -> Save

Browser becomes unresponsive until script error dialogue appears (see picture)
https://www.mediafire.com/?7yxlvpktf2s98rz

You must hit continue to well, continue.

[2015-02-02 17:01] JHill29th commented on #275
Excellent! Thanks @wilson29thid

[2015-02-02 22:09] swomma opened #284 "[Critical]: Can not post AAR"
Since last update we are unable to post AARs.

[2015-02-03 01:05] #284 closed

[2015-02-03 01:08] wilson29thid commented on #283
Hm, that error looks like it pertains to a browser extension. Either way, now that #284 is fixed, can you try again?

[2015-02-03 16:12] yopuii opened #285 "Permission Request: MP"
Ran into an issue with the standard Military Police Officer usergroup that cannot access the MP Investigations board.

[2015-02-03 16:19] #285 closed, assigned to nobody

[2015-02-03 19:49] TheBergIsTheWord opened #286 "Public Permission Child Boards in Signal Office"
As per Captain Walker's direction I'm posting here to request separate Child boards for RS/DH/A3 Unit relations with public permissions in Signal Office.

[2015-02-03 20:43] JHill29th commented on #283
@wilson29thid , Disabling the Skype Click to Call extension and restarting the browser solved the issue.

[2015-02-03 21:28] JHill29th commented on #267
@wilson29thid , the request was intended to create a public area for outside units to introduce themselves and make contact; like we had in the old boards.  I have gone ahead an completed this. The boards are child boards of Public Discussion.

If @Browning29th could go over the permissions and make sure I haven't botched anything I would be grateful.

[2015-02-04 10:18] Browning29th commented on #282
I can not reproduce this (Firefox 35.0.1).
Can you find some other people with this problem so we know it is not an error unique to to you?

[2015-02-04 10:19] #283 closed

[2015-02-04 10:20] Browning29th commented on #277
In the past I have often had people message me asking for an absence or an ELOA to be posted because they can not assess the forum

[2015-02-04 10:21] Browning29th commented on #267
@JHill29th What boards have you changed permissions on?

[2015-02-04 10:45] wilson29thid commented on #249
Reopen if this is still an issue

[2015-02-04 10:45] #249 closed

[2015-02-04 11:14] swomma commented on #276
Matter closed.
@wilson29thid I did it manually by changing member_id on assignments and so on.

[2015-02-04 11:14] #276 closed

[2015-02-04 11:47] wilson29thid commented on #251
Resolved by your pull requests

[2015-02-04 11:47] #251 closed

[2015-02-04 11:55] wilson29thid commented on #277
I agree that PLs should be able to post ELOAs for their members, but the reason it's not been a priority is because the CO doesn't *have to* discharge members with 3+ AWOLs; rather, he can ignore the one that happened while there was no internet, for example.

[2015-02-04 11:59] swomma commented on #217
I think all coats were fixed. Closing.

[2015-02-04 11:59] #217 closed

[2015-02-04 14:13] Campbell29th commented on #277
1 slight issue with that is its hard to track who got an accidental AWOL (strangely enough they happen a lot) Currently Platoons are just contacting me as Personnel officer to do it for them, since I don't have the permissions myself I have to ask T/4 Swomma.

[2015-02-04 16:10] JHill29th commented on #286
@TheBergIsTheWord, As per #267 this is done:  http://forums.29th.org/categories/public-discussion

[2015-02-04 16:40] JHill29th commented on #267
@Browning29th, The _new_ boards are child-boards of Public Discussion. Child- boards labeled [Public Relations] <gameName>

[2015-02-05 04:37] Walker29th opened #287 "Two Personnel Files - PFC L. Hardy"
For some reason, he is just like McManus with two files. Can we combine them so that it doesn't cause issues for assigning dashboard items or jobs?

[2015-02-05 08:28] swomma commented on #287
Actually that's different - he just has two forums accounts (IDs: 173 and 208) and since his personnel account is associated with forumID 208 I'm deleting 173.

[2015-02-05 08:28] #287 closed

[2015-02-05 10:14] Tuomainen commented on #266
Sorry for being unclear Lt. Col. @wilson29thid , I was meaning to suggest this type of board subscription (similar on starring topics and with that getting notifications on topics you're following) as an alternative way until #193 is implemented :) Though now I just learned to use "Hide" option for boards so that makes following easier with "Viewing: all categories | followed categories"

[2015-02-05 22:19] JHill29th commented on #231
@swomma and @wilson29thid
I found this related to this and Arma 3:  https://github.com/firefly2442/phparma2serverstatus
Is it useable?

[2015-02-06 04:33] PFCMoe opened #288 "Squad leadership board permissions."
I do not have access to the squad leadership thread. In order for me to continue my slt, I need to be able to acess this thread. THank you in advance

[2015-02-06 11:13] swomma commented on #231
@wilson29thid In case of multiple assignments (mainly clerks in squads and Platoon / Company HQ) I would be using assignment with highest unit_id - therefore showing squad assignment rather then platoon one - unless you think otherwise

[2015-02-06 15:42] Campbell29th commented on #277
Had another case of the following just now

[2015-02-06 17:24] JHill29th commented on #288
@PFCMoe , What is the exact board name?

[2015-02-06 17:51] JHill29th commented on #288
I have talked to PFC Moe and he cannot see the [Non-Commissioned Officer School](
) board.

@wilson29thid, @Wheatles29, @swomma

The permissions for this board [Squad Leader Training Discussion](http://forums.29th.org/categories/SLT) are set for squad level and higher to view. SLT candidates are not (and should not be) in Squad Leadership.

I think we need to add another role called "SLT" maybe, a

[2015-02-06 22:56] Langtord opened #289 "Request: Adjutant Corps permissions"
The Adjutant Monitor are supposed to send out emails to the soldiers that have missed two mandatory drills within a 30 days period. This mean that they need to be able to see the email of the soldiers on the forums to do their job. Would it be possible to give them this permission as soon as possible?

Also, the Adjutant Clerks, Adjutant Monitor and Soldier Inquirer would need to modify the origin

[2015-02-07 08:51] swomma commented on #289
@Langtord wouldnt it be enough to send PMs vua forums? They do get send to their emails anyways.

Second question us for @Browning29th

[2015-02-07 15:16] Langtord commented on #289
@swomma I just thought of it now, but the Soldier Inquirer needs to send out PMs via emails to the Generally Discharged soldiers, I doubt that they will check the forums even tho they get a notification. For the Adjutant Monitor I guess the PMs over forums could work out.

[2015-02-07 21:27] wilson29thid commented on #231
@swomma the API already picks the most important unit - let's leverage the existing code instead of pulling directly from the database.

**Option A**
Game servers initiate an HTTP request to api.29th.org/members each map load and save the results in an array. Each time a member joins, it checks that array to see if the member is in it.

**Option B**
An independent script is set to run nightly whic

[2015-02-07 23:06] wilson29thid commented on #289
@Langtord I believe @swomma is pointing out that, by default, receiving a PM on the forums automatically sends you an email ("You have a new message on the forums!")

[2015-02-07 23:07] #266 closed

[2015-02-08 01:20] wilson29thid commented on #54
Done

[2015-02-08 01:20] #54 closed

[2015-02-08 02:33] Langtord commented on #289
@wilson29thid Alright hopefully they will open the forums notifications in their emails ^^
Though the second point is to be looked into it if possible :)

[2015-02-08 05:49] Schraff15 opened #290 "Forum to Personnel Issue"
I'm logged in on the forum, but when I click on personnel I am no longer logged in. I know this because in the top right it says "Sign In" instead of showing my name as it does when I'm already signed in. I couldn't find another one of these issues in the GitHub, but that may because I'm explaining it wrong. The only problem for me is that I cannot view what is on the calender because of this. I c

[2015-02-08 12:05] Browning29th commented on #289
What forum do you want edit permissions for who exactly?

[2015-02-08 12:07] #286 closed

[2015-02-08 17:04] Langtord commented on #289
The Adjutant Clerk/Adjutant Monitor/Soldier Inquirer would need to be able to modify my posts into the Attendance Adjutant Board.

[2015-02-08 19:52] Turczyn29thID opened #291 "Feature Request: Ability to delete message from Inbox"
I looked around for this one, though could not find it, it maybe a dupe.
I would like to see the ability to delete or "remove myself" from a conversation directly from the inbox.  Similar to the same mechanism of the old forum where I could select multiple messages (check boxes) and delete them.
The current process and quite cumbersome, where the the User needs to click the message and then click

[2015-02-08 19:57] Turczyn29thID opened #292 "Feature Request: Review message directly within Inbox"
Current to review a message I have to click the link from my Inbox to go to a new page to view the message.
A more seamless method would be to expand the message directly within the Inbox for viewing.  This would enhance the User experience and enhance the management of messages directly within the Inbox than the current method.  This expanded with #291 is an items I hear asked for a lot of the Us

[2015-02-08 20:01] Turczyn29thID commented on #277
My personal experience is when Squad and Platoon drill times where shifted and I was out of town when it occurred.  I had posted absences for the original times, though when they were moved my absences were not carried forward.  This carry forward time shift is not the issue, it is not having the ability to correct the accidental AWOL.  Now I can not do my own, that is a given and it was fixed wit

[2015-02-08 20:02] Turczyn29thID commented on #256
+1

[2015-02-08 20:10] wilson29thid commented on #290
Strange, your account appears to be associated properly.

1) Can you try logging out of the forum and logging back in?
2) Did it work before?

[2015-02-08 20:47] wilson29thid commented on #290
Fixed! You may need to clear your cookies and sign in again.

[2015-02-08 20:47] #290 closed

[2015-02-08 22:59] wilson29thid opened #293 "Add member count and message button back to units page"
It was temporarily replaced by #211 - just need to find a place for it again.

[2015-02-08 23:06] wilson29thid opened #294 "Some activity entries are listed twice"
For #211, Swomma is listed twice on Baker and BP1 view but not his squad. It may be a missing 'left' prefix in the join.

[2015-02-09 03:30] wilson29thid commented on #294
@swomma any idea what's causing this? It's definitely only happening to members with multiple active assignments.

[code]

[2015-02-09 03:53] wilson29thid commented on #211
Note: I should probably fix the grouping logic. Eventually I won't be able to find a unique key on every type of activity.

[2015-02-09 08:46] swomma commented on #294
Quickest fix is adding `DISTINCT` statement:
`SELECT SQL_CALC_FOUND_ROWS *DISTINCT* promotions.id, .....`

[2015-02-09 11:21] wilson29thid commented on #211
Note: API calls should be by date, otherwise some records go back to 2010 and the display is misleading, suggesting that's the only activity back in 2010.

[2015-02-09 17:46] JHill29th commented on #291
I sympathize with @Turczyn29thID here. If I'm not diligent by deleting myself from conversations they quickly multiply and require ample time to "clean-up". I feel #223 would be needed to do this effectively.

[2015-02-09 17:48] JHill29th commented on #292
Added ease when dealing with conversations would come from #223.

[2015-02-10 03:35] wilson29thid commented on #211
Added support for event attendance/AWOLs but wound up changing a lot of code in the API and App along the way, still need to test the rest of the app and restore minor functionality.

[2015-02-10 10:25] swomma opened #295 "[Bug] API Admin and default values"
I have noticed that in API admin when adding a new entry when you leave a field to default (like `forum_id` instead of choosing Vanilla) it will set it to NULL despite having default value set in DB field.

**Solution**:
1. Set value in API admin to default DB value (like "Vanilla" for `forum_id`).
2. If "Default" is chosen when entry is added use the DB default value for that field.

[2015-02-10 10:41] wilson29thid commented on #295
Default for `forum_id` should be `NULL` though - for instances when an award does not have a corresponding forum post, it will be left blank and we wouldn't want `forum_id` to be set.

[2015-02-10 11:13] swomma commented on #295
For such cases we can leave `topic_id` set to 0 or NULL. Problem is people posting don't change `forum_id` to Vanilla leaving it as default.

[2015-02-10 11:26] wilson29thid commented on #295
If `topic_id` is set to `NULL` why would we want `forum_id` set to `Vanilla`? If the problem is people leaving the forum blank then we should add validation to make sure forum is set if topic is set.

[2015-02-10 11:36] wilson29thid opened #296 "Update forumUrl"
Update admin, app config, views, and templates

[code]

[2015-02-10 12:55] Tuomainen opened #297 "Forum to Personnel Issue"
Similar to closed #290 (I had similar issue with Schraff but it went away when @wilson29thid said it was fixed). Now it's back :(

[2015-02-10 21:29] swomma commented on #297
Working now

[2015-02-10 21:29] #297 closed

[2015-02-11 10:43] swomma opened #298 "[Bug] Missing awardings in Service Record"
Since last update (updates?) there are missing awardings in Service Record.
It seems that API returns only last 15 awardings (checked that on few members and that is the constant number)

[2015-02-11 11:32] #298 closed

[2015-02-11 12:08] wilson29thid opened #299 "Add pagination to unit activity"
I'm doing `SELECT SQL_CALC_FOUND_ROWS` followed by `SELECT FOUND_ROWS()` to get the "count" (total number of records) which works fine for regular pagination but when I filter by dates using `WHERE`, the count only reflects the filtered records. Not sure how to get a total other than a completely separate query. Any familiarity with this, @swomma?

[2015-02-11 12:51] swomma commented on #299
@wilson29thid As far as I remember `SELECT FOUND_ROWS()` returns the number of rows from previous query as if you haven't used `LIMIT` clause in said query.
If you are filtering by `WHERE` clause instead of `LIMIT` the number of rows found would be the same.

[2015-02-11 23:27] Langtord opened #300 "[Bug] No confirmation Email"
Some people that just registered on the forums are unable to get a confirmation email, any idea on what is going on?

[2015-02-12 10:53] wilson29thid commented on #300
Fixed, thanks for the heads up.

[2015-02-12 10:53] #300 closed

[2015-02-12 11:29] #281 closed

[2015-02-12 11:31] wilson29thid opened #301 "events.mandatory default value should be 0"
`events.mandatory` is currently set to `1` which makes it impossible to send a non-mandatory event with a checkbox on a form (leaving it unchecked just doesn't send that field). Please set the default value to `0`

[2015-02-12 11:32] wilson29thid commented on #296
@swomma you've done this, right? If so please close

[2015-02-12 12:22] swomma commented on #296
Done

[2015-02-12 12:22] #296 closed

[2015-02-12 12:24] swomma commented on #301
`events.mandatory` default value set to 0.
[code]

[2015-02-12 12:24] #301 closed

[2015-02-12 16:30] Walker29th opened #302 "Enlistments - Closing Enlistment Files for Re-enlisting HD's"
So, on the forums, when you go to enlistments, there are pending files that exist for returning members that were accepted and placed back into the unit. However, those file remain on the enlistment board as pending instead of accepted and process. EL's said they cannot close those files. How can this get remedied so pending files can be resolved?

[2015-02-12 17:12] swomma commented on #302
@Walker29th For time being I could set those enlistments to `accepted` status.
For a permanent solution I'm thinking of setting them to `accepted` upon adding assignment when no other assignments are active and there was HD - roughly something like that. Any thoughts on that, @wilson29thid ?

[2015-02-12 18:03] JHill29th opened #303 "[Feature Request] Show AIT Updates In Activity Feed"
The old 'Action Feed' would display any AIT updates. Could the new activity feed be made to do the same thing?

[2015-02-13 10:59] wilson29thid commented on #303
Yep, it's on the list in #211

[2015-02-13 10:59] #303 closed

[2015-02-13 11:01] wilson29thid commented on #302
@swomma I think in order to mark them Accepted you have to assign them to a TP. Great question @Walker29th, I didn't think of this scenario :P Will have to think on this.

[2015-02-13 12:31] swomma commented on #302
@wilson29thid At this moment yes - they get accepted with assignment to TP. So we need to make an new way of making them accepted - by assignment straight to Combat class unit.

For now I'll just take care of such pending enlistments.

[2015-02-13 19:49] Campbell29th opened #304 "Finance Fundraising Officers can't view finance boards"
Title explains all.

[2015-02-16 01:59] JHill29th opened #305 "[Critical Bug] Forums not accepting URL Code for internal redirect"
Forums are not accepting URL code.
`<a href="http://forums.29th.org/someWhere">Lint Title</a>` or `[Link Title](http://forums.29th.org/someWhere)`

In some cases link is created but redirect goes to page link was created on.

[2015-02-16 07:03] swomma commented on #305
@JHill29th Can you create a pist with such broken link? I cant recreate the issue.

[2015-02-16 07:16] JHill29th commented on #305
Go here http://forums.29th.org/categories/ordnance-office
Click on the hyperlink titled "mor information on play withSix can be found here"

Also the text editor URL button won't accept input either.

[2015-02-16 08:03] swomma commented on #305
Adding `http://` to the link helped :)
`<a href="http://forums.29th.org/discussion/1232/problems-connecting-to-bct">`
instead of
`<a href="forums.29th.org/discussion/1232/problems-connecting-to-bct">`

In general if you don't put `http://` at the beginning it is interpreted as a page from the same webserver so the interpreted link would be `http://forums.29th.org/forums.29th.org/discussion/1232/pr

[2015-02-16 08:31] swomma commented on #304
For some reason PFCs Connor and van Gemeren were not seen on forums as members of Fin Office.

Any member of Finance Office has access to "Finance Office" board on forums.

[2015-02-16 20:22] Langtord opened #306 "[Bug] ELOA System not working out"
The ELOA System that we are using over API seems to be working only some times. Every Extended LOA received in into the Extended LOA board is taken care of within 24 hours to avoid AWOLs for the soldiers. However, there is a few cases where there seems to have a bug.

Here is the sheet of ELOAs: http://personnel.29th.org/#eloas

Below are a few cases where the soldiers are on ELOA but are receivin

[2015-02-16 20:31] CplVeld opened #307 "BUG: Cant add spaces in threads"
I have some issues with this, it seems that i can't add more spaces in a thread with my Space key, especially after i added a list where you most of the time can't add a space. It's really annoying when making threads, especially when making squad reports. I am using the latest Firefox btw.

[2015-02-17 03:17] JHill29th commented on #307
You can manually create spaces by using the entity ` &nbsp; `
For example:
There are three spaces`&nbsp;&nbsp;&nbsp;`between the words 'spaces' and 'between'.
There are three spaces&nbsp;&nbsp;&nbsp;between the words 'spaces' and 'between'.

[2015-02-17 08:22] #305 closed

[2015-02-17 10:24] swomma commented on #304
Seems to be working

[2015-02-17 10:24] #304 closed

[2015-02-17 11:58] swomma commented on #231
I went with option B, getting info from  API/members.
For DH it has been put in the place of old `dhunits.php` - so CRON should run it now.
For RS output was uploaded to sqd server.

[2015-02-19 04:51] Evensen opened #308 "There is a character limit on new topics"
I noticed when trying to post my Doctrine in the SLT forum that there is a character limit, and mine was about 1700 chars above it. The same post worked just fine in the old forum, so I'd like to either remove the cap or set it to something much higher. This forum isn't just for discussions, but also to post guides,  list of rules, etc. that sometimes exceed the limit.

Current workaround is to re

[2015-02-19 11:47] #307 closed

[2015-02-19 11:57] swomma opened #309 "[Feature] Enlistment Form should validate name"
It seems that enlistment form does not validate names - not even trims it - I had a case of recruit Pilipovic (http://personnel.29th.org/#members/84899) who's name started with space.

[2015-02-19 14:32] #267 closed

[2015-02-19 15:56] #288 closed

[2015-02-21 21:18] PFCMoe opened #310 "Slt forums."
I have not access to the Squad leader training forum. If someone could fix this, it would be greatly appreciated.

[2015-02-21 22:28] swomma commented on #310
SLTs got access now

[2015-02-21 22:28] #310 closed

[2015-02-22 04:27] #306 closed

[2015-02-22 04:34] wilson29thid commented on #306
I've identified what caused this issue and it's related to a change I made to support the activity feed. I've resolved the issue so it won't happen again. If you come across a soldier who has an AWOL on their record during a time they were on ELOA, simply modify the AAR - no need to change anything, just click Post AAR and click Submit, and it will mark them excused. I've done this for the four so

[2015-02-22 04:42] wilson29thid commented on #223
FYI I've looked into how to implement this a number of times and am surprised that no one's talked about it on the vanilla forums (maybe I'm just not using the right search terms). I've [posted a question](http://vanillaforums.org/discussion/29393/any-suggestions-for-adding-subjects-to-private-messages) about it and hope to get pointed in the right direction, plugin-wise.

[2015-02-22 09:22] Tuomainen opened #311 "[Bug] 29th.org/roster oudated / not autoupdating"
http://www.29th.org/roster isn't staying up to date with the new roster: http://personnel.29th.org/#units/Bn

[2015-02-22 09:31] Tuomainen opened #312 "[Bug] Activity Feed shows multiple discharges for those who has had previous assignments"
Examples:

PFC Buckley: latest assignment with AP1S3, previous assignment was within Baker and Reserves, his discharge is showing up in Able Co's, Baker Co's and Reserves activity feeds:

PFC Hardy: latest assignment with Reserves, previous assignments included both Able and Baker, his discharge shows up in Able, Baker and Reserves activity feeds.

http://personnel.29th.org/#units/Able
http://pers

[2015-02-22 09:36] swomma commented on #312
@Tuomainen we know, we got a fix, it will be fixed on main page soon

[2015-02-22 09:37] Tuomainen opened #313 "[Feature Request] Add total member count"
There is one at 29th.org/roster but one at http://personnel.29th.org/#units/Bn would be useful too. Perhaps add it like it used to be at the old forums? That every unit page had own total unit count.

Example
http://personnel.29th.org/#units/Bn - showing Bn total
http://personnel.29th.org/#units/Able - showing Co total
http://personnel.29th.org/#units/AP1 - showing Plt total

[2015-02-22 09:46] Tuomainen opened #314 "[Feature Request] Improve Calendar's usability"
http://personnel.29th.org/#calendar

- Allow opening a new tab for an event with MMB
- When returning from an event back to calendar, allow the Calendar to stay at the old view; meaning that if I'm going through Events in March, when I return, it gives me current month's (February) events

[2015-02-22 10:41] swomma commented on #313
It has been there, temporarly removed to make place for activity feed, will be reinstated, as said in #293

[2015-02-22 10:41] #313 closed

[2015-02-22 10:41] swomma commented on #311
Definetly a thing to be fixed asap

[2015-02-22 13:47] swomma commented on #311
Actually there is no way to directly access 29th.org/roster from 29th.org main page - when you click on "Roster" on top menu it leads to http://personnel.29th.org/ so there is no need to update old roster page

[2015-02-22 13:47] #311 closed

[2015-02-22 16:48] Tuomainen commented on #311
Oh snap :D I've just always used the direct link... well can I suggest then fixing the redirect so http://29th.org/roster/ = http://personnel.29th.org/ oor do you want own ticket for it?

[2015-02-23 01:04] Turczyn29thID opened #315 "Feature Request: Need attendance percentage"
As the subject states, when reviewing attendance looking at an actual number for 30/60/90 day attendance is needed.
A chart would be nice to track trends though that could be a stretch goal.

[2015-02-23 01:08] Turczyn29thID commented on #315
Github has a nice tracker as an example for contributions.
![attendence idea](https://cloud.githubusercontent.com/assets/10408741/6321551/84f8fbf8-bace-11e4-900e-250f6b0750cb.png)

[2015-02-23 21:25] swomma opened #316 "[Bug] Roster in AAR is from current date not drill's date"
When AAR is edited (especially for older drills) the roster is taken from current assignments instead of the date of the drill. In extreme cases it causes person who was assigned to the unit after the drill has taken place to receive an AWOL.

[2015-02-24 02:35] wilson29thid opened #317 "Switch from .htaccess to dotenv"
https://github.com/vlucas/phpdotenv

[2015-02-24 03:21] JHill29th commented on #308
The character limit was increased.

[2015-02-24 03:24] JHill29th commented on #223
@wilson29thid Looks like your [question post](http://vanillaforums.org/discussion/29393/any-suggestions-for-adding-subjects-to-private-messages) got a hit.

[2015-02-24 03:28] JHill29th commented on #280
This appears to be unique to Firefox 35.0.1
IE, Crome, and Safari are not afflicted.

[2015-02-24 03:35] JHill29th opened #318 "[Feature Request] Search"
I could have sworn there was a search function somewhere. I found some old issues, now closed, from Jan 7 regarding this; #144 and #145. The conclusion was the search function was added back but , I cannot find it...

[2015-02-26 10:04] Tuomainen opened #319 "[Request] Prevent a recruit posting more than one active enlistment"
This would avoid spamming enlistments (and accidental duplicate enlistments when someone doesn't realize that the enlistment posting isn't an actual post). Alert message, when someone is trying to create 2nd active enlistment, could say something like "Your enlistment has already been posted, it can be seen here: http://personnel.29th.org/#enlistments. Please reply to your active enlistment with a

[2015-02-26 16:37] Langtord opened #320 "Enlistment Liaisons can't check IPs"
I would like to request some permissions for the Enlistment Liaisons. When people enlist with a lastname that is already in use, the ELs are to modify both the thread and the personal file, however, they do not have access to modifying the personal file. Therefor, I would like the Enlistment Liaisons to have access to this section on the Personal File. Thank you!

[2015-03-01 16:56] Turczyn29thID commented on #318
+1
Just went looking for the search function and it is MIA.  Useful tool both for forum threads and messages in an inbox.

[2015-03-01 17:03] Turczyn29thID opened #321 "Bug Report: Added to conversation; not viewable"
PFC Moe added me to a conversation.  From my notifications as shown here, my expectation was clicking on the conversation link here:
![conversationlink](https://cloud.githubusercontent.com/assets/10408741/6431809/99779dc8-c00a-11e4-9bf6-ad69a1eb3366.png)
I that I would be taken to the conversation/message.
Instead I was taken here:
![addedtoconversation](https://cloud.githubusercontent.com/assets/

[2015-03-01 17:09] Turczyn29thID opened #322 "Feature Request: Copy/quick select feature for forum templates"
As the forum has progressed a number of templates have been generated to aid in submitting an AAR, Squad Report, Platoon Report, etc...
I believe on the old forum there was a feature that allowed a User to quickly copy (or quickly highlight/select) template text in place of having to LMB click drag select of text to be copied.

[2015-03-01 18:21] Tuomainen opened #323 "[Request] EL notification system"
Whenever Senior Enlistment Liaison assigns a recruit to an EL, it would be great if the EL in question would get notified about it through the system instead of having a SEL to send a PM about the assigned recruits every time.

[2015-03-01 18:24] Tuomainen opened #324 "[Request] Assigned Liaison"
Currently, when processing an enlistment and assigning a recruit to a liaison, it lists the whole unit roster in the drop down menu. It would be time-saving if it listed only the ELs.

![assignedliaison](https://cloud.githubusercontent.com/assets/10409099/6432152/f83ec570-c050-11e4-8881-1c4a25a3f37e.jpg)

[2015-03-01 18:32] Tuomainen commented on #318
+1 for enlistment liaisons for trying to look up certain enlistments or piece of information from enlistment office.

[2015-03-01 21:47] swomma commented on #321
Yup, that also happened to me so it seems to be a repeatable bug

[2015-03-01 21:54] swomma commented on #322
@wilson29thid It seems http://vanillaforums.org/get/quotes-plugin-1.6.9 should do the trick. To be tested.

[2015-03-02 09:21] Tuomainen commented on #320
I'll add also that IP checking for the ELs doesn't work as it used to at the old forums.

[2015-03-02 14:49] swomma commented on #320
@Langtord They can modify profile as soon as recruit is added to a TP. Is that enough or do you want them to be able to modify any recruit?

[2015-03-02 14:50] swomma commented on #320
@Tuomainen I have no idea how it worked on old forums - could you elaborate?

[2015-03-02 16:54] Browning29th opened #325 "Multiple awols on one day"
People can currently receive multiple awols on one day. It should be one per day, however many drills on that day.

[2015-03-03 09:17] Tuomainen commented on #320
Replying on behalf of @Langtord : ELs should be able to modify any recruit though I think that's the case now?

When clicking profile's IP at the old forums, it would list any usernames from the same IP. Now when doing so, it gives permission denied (sorry forgot to mention that above...). By being unable to check IP, ELs can't confirm that the recruit is really an individual who hasn't enlisted b

[2015-03-03 10:42] swomma commented on #193
It should be remedied by setting advanced notifications to boards you want to see (http://forums.29th.org/profile/preferences).

[2015-03-03 10:43] #193 closed

[2015-03-04 11:47] swomma commented on #215
As requested by @Tuomainen all pending enlsitments from before 2015-01-18 had their status changed to "Withdrawn"

[2015-03-04 11:47] #215 closed

[2015-03-05 01:18] Evensen commented on #325
It has always been like this, which meant some soldiers would need to rack up more than 3 attendance demerits before being GD'ed.

[2015-03-05 01:22] Evensen commented on #240
An actual Subject option would be nice. It's difficult to find an old pm you want to check again.

[2015-03-05 21:49] swomma commented on #289
Done

[2015-03-05 21:49] #289 closed

[2015-03-06 01:33] Tuomainen opened #326 "[Request] Add BCT schedule into TP files"
Now, when checking up things as an EL, it requires accessing multiple different sites such as calendar and TP files to check simple things. Similar details included to the TP what we had at the old forums would be really helpful, if possible:

http://29th.org/personnel/lighthouse/?tp=588
vs
http://personnel.29th.org/#units/606thTP

[2015-03-06 07:45] swomma commented on #326
@wilson29thid We could show upcoming events for Training class units - that would do the trick.

[2015-03-08 23:19] Tuomainen opened #327 "[Bug] BCT events through Calendar's Admin"
When I'm trying to schedule BCT events through here: http://personnel.29th.org/#events/add and when I try submitting my event, it doesn't do anything. The page just stays there doing nothing. I can normally schedule events through api but scheduling multiple events at once would be helpful to have back in use.

Reason for edit:
I first thought it was generally not allowing me to schedule any event

[2015-03-10 10:48] wilson29thid commented on #318
Will add back asap. In the meantime, the URL is just `/search` - http://forums.29th.org/search

[2015-03-10 11:24] wilson29thid opened #328 "No pagination on unit attendance pages"
As a result, units/Bn/attendance takes ages to load

[2015-03-10 12:01] swomma commented on #3
Attendance percentages added to attendance tab of a member

[2015-03-10 12:01] #3 closed

[2015-03-10 12:07] swomma commented on #194
Forum links added

[2015-03-10 12:08] swomma commented on #194
Apparently not on production